<div class="comments">
  <div class="comment-head">
    <h2 class="Heading comment-heading">Comments</h2>
    <a href="#modal" class="add-comment"><img src="{{ 'pen.png' | asset_url }}">Add Comment</a>
  </div>
  <div class="comment-body">
    <div class="media">
      <div class="media-left">
        <img src="{{ article.comment.user.image }}">
      <div>
      <div class="media-right">
        <div class="media-right-heading">
          <h3>Anne Volt</h3>
          <p>July 17, 6:41pm</p>
        </div>
        <div class="media-right-content">
          Lorem ipsum dolor sit amet consectetur. Id enim dis eleifend accumsan pretium convallis. Neque id nisl arcu sit in nunc amet leo. Habitasse proin eu mi mus lorem imperdiet tincidunt porta. Leo est blandit nibh et iaculis.
        </div>
        <div class="media-detail">
          <a href="">
            <img src="{{ Comment.svg | asset_url }}"> Replay
          </a>
          <p><img src="{{ thumbup.png | asset_url }}" class="t_plus"> +120</p>
          <p><img src="{{ thumbup.png | asset_url }}" class="t_minus"></p>
        </div>
      </div>
    </div>
  </div>
</div>