{{ 'section-about-us.css' | asset_url | stylesheet_tag }}

<section class="about-us">
  <div class="about-cassiopeia">
    <img src="{{ section.settings.aboutcassiopeia | img_url: 'master' }}">
  </div>
  <div class="content">
    <img src="{{ section.settings.quote | img_url: 'master' }}" alt="quote">
    <div class="text-font-family font-brown">{{ section.settings.content }}</div>
  </div>

  <div class="image_block">
    <div class="d-flex align-center w-100 justify-content-center">
      <img src="{{ section.settings.image_1 | img_url: 'master' }}" alt="Image">
      <img src="{{ section.settings.image_2 | img_url: 'master' }}" alt="Image">
      <img src="{{ section.settings.image_3 | img_url: 'master' }}" alt="Image">
      <img src="{{ section.settings.image_4 | img_url: 'master' }}" alt="Image">
      <img src="{{ section.settings.image_5 | img_url: 'master' }}" alt="Image">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Us",
  "settings": [
    {
      "type": "image_picker",
      "id": "aboutcassiopeia",
      "label": "Select about svg"
    },
    {
      "type": "image_picker",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image 4"
    },
    {
      "type": "image_picker",
      "id": "image_5",
      "label": "Image 5"
    }
  ],
  "presets": [
    {
      "name": "About Us"
    }
  ]
}
{% endschema %}
