<style>
  #shopify-section-{{ section.id }} {
    padding-top: 116px;
    background-color: #EDECE7;
  }
  #shopify-section-{{ section.id }} .collection__title h2.title {
    font-family: 'Faberge';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #281D15;
    margin: 0;
  }
</style>

<div class="collection section-{{ section.id }}-padding">
  <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
    <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
  </div>
  <div class="slick-container">
    <div class="slick-slider-best">
      {%- assign collection = collections[section.settings.collection] -%}

      {%- for product in collection.products limit: section.settings.grid_items_count -%}
        <a href="{{ product.url | within: collection }}" class="product">
          <img src="{{ product.images[0] | img_url: '720x' }}">
          <div class="product-detail">
            <p class="product-name">{{ product.title }}</p>
            <p class="product-price">{{ product.price }}</p>
          </div>
        </a>
      {%- endfor -%}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Best Sellers",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "BEST SELLERS",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }, 
    {
      "type": "range",
      "id": "grid_items_count",
      "min": 2,
      "max": 50,
      "step": 1,
      "label": "Products to show",
      "default": 8
    }
  ],
  "presets": [
    {
      "name": "Best Sellers"
    }
  ]
}
{% endschema %}