{{ 'section-custom-article.css' | asset_url | stylesheet_tag }}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-width">
    <div class="background-image article-banner w-100 mobile" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})">
    </div> 
    <div class="article-info d-flex justify-content-between align-center w-100">
      <div class="author-info d-flex justify-content-between align-center">
        <img src="{{ article.user.image | img_url: '30x' }}">
        <p class="author-name blog-info-font">{{ article.author }}</p>
      </div>
      <div class="article-detail d-flex justify-content-between align-center">
        <p class="created_at blog-info-font">
          <img src="{{ 'Clock.svg' | asset_url }}"> {{ article.published_at | date: format: 'short' }}
        </p>
        <p class="artile-heart blog-info-font"><img src="{{ 'blog_heart.svg' | asset_url }}"> {{ article.heart }} </p>
        <p class="article-comment blog-info-font"><img src="{{ 'Comment.svg' | asset_url }}"> {{ article.comments_count }} </p>
      </div>
    </div>

    <h1 class="heading-font-family font-brown">
      {{ section.settings.article_title1 }}<br>
      {%- if section.settings.article_title2 != blank -%}
        <span class="font-choco">{{ section.settings.article_title2 }}</span>
      {%- endif -%}
    </h1>

    <div class="header-introduction">
      {%- if section.settings.intro_title != blank -%}
        <h2 class="text-font-family font-choco mb-36">{{ section.settings.intro_title}}</h2>
      {%- endif -%}
      <div class="text-font-family font-choco">
        <p>If you're looking for a calming and soothing stone to bring balance and courage into your life, look no further than larimar. This stunning blue gemstone is a rare find that originates from the Barahona region of the Caribbean. It is also known as Blue Pectolite, Dolphin Stone, Atlantic Stone, and Setfilias Stone. Larimar's beauty and rarity have made it a popular choice for jewelry and healing practices. In this article, we will explore the physical, mental, and metaphysical properties of larimar.</p>
      </div>
    </div>

    {%- if section.settings.blog_image1 -%}
      {%- if section.settings.blog_banner_2 != blank -%}
        <div class="two-background-image">
          <div class="background-image bg-1" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})"></div>
          <div class="background-image bg-2" style="background-image: url({{ section.settings.blog_banner_2 | img_url: 'master' }})"></div>
        </div>
      {%- else -%}
        <div class="background-image article-banner desktop" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})"></div>
      {%- endif -%}
    {%- endif -%}
    
    <div class="article-grid">
      <div class="share">
        <ul>
          <li class="text-font-family font-choco">Share</li>
          <li><a href="http://www.twitter.com/share?url=all-things-larimar"><img src="{{ 'twitter.png' | asset_url }}"></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=all-things-larimar"><img src="{{ 'facebook.png' | asset_url }}"></a></li>
          <li><a href="https://www.instagram.com/?url=all-things-larimar"><img src="{{ 'instagram.png' | asset_url }}"></a></li>
        </ul>
      </div>

      <div class="articles">
        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family font-choco">1/ Physical Benefits of Wearing Larimar</h2>
            <p class="text-font-family font-choco">Larimar is believed to have many physical benefits. It is often used to help alleviate stress-related health concerns, such as high blood pressure, insomnia, and certain skin conditions. The stone is also known for its cooling properties and may assist in the treatment of fever and rashes. Additionally, larimar is a well-liked stone for use in the field of reflexology and as a therapeutic adjunct to acupuncture treatment. The stone is associated with the throat chakra, and it is beneficial for the removal of any and all obstructions, as well as the healing of upper-body diseases.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image2 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">2/ Emotional Benefits of Wearing Larimar</a>
            </h2>
            <p class="text-font-family font-choco">Larimar's calming and soothing properties make it an ideal stone for those seeking mental balance and stability. It is said to be helpful for those who tend to experience feelings of being overwhelmed or who fall into poisonous and self-destructive patterns of thought. The stone is also known to be a good stone for bravery, which means that it may assist you in overcoming your fears and discovering your own personal strength. Its energy flows with such fluidity and lightness that it frequently evokes a sense of youthful wonder in individuals who keep it near. It also encourages play and the ability to view the world through clear, unclouded eyes.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image3 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">3/ Metaphysical Benefits of Wearing Larimar</a>
            </h2>
            <p class="text-font-family font-choco">Larimar's celestial energies are abundant, and the stone is effective in working with all of the higher chakras. It is most often known as a throat chakra stone due to the energy that emanates from it having the color of the ocean, but it is also an excellent partner for the heart chakra, the third eye chakra, and the crown chakra. The stone can help enhance spiritual awareness, emotional healing, and connection to higher beings. Its curative properties may also assist you in establishing a connection to the divine feminine and finding your flow in life.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image4 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-12">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">Amethyst and Zodiac Signs</a>
            </h2>
            <p class="text-font-family font-choco mb-18">Larimar is too recent to be called a conventional birthstone, but its energy does seem to connect with those whose birthdays fall at the end of winter or during the transition into spring. This is especially accurate for those whose birthdays fall in the months of February and March. At this time, the gloom of winter begins to dissipate, and the light and hope of spring begin to make their way into the world. It's that time of year when the ice begins to melt and the water is crystal clear.</p>
            <p class="text-font-family font-choco">It is also possible to relate it to those whose birthdays fall under the sign of Leo. Leos are born when the sun is at its highest point in the sky, giving them a fiery personality. Larimar is a watery balancing stone, and as such, it has the ability to calm the more fiery aspects of the Leo and bring them back into balance</p>
          </div>
          <div class="col-md-12">
            <div style="background-image: url({{ section.settings.blog_image5 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <h2 class="Heading Heading-faq">FAQ</h2>
        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>1/</i> What zodiac is Larimar good for?</h3>
          <p class="text-font-family font-choco">Larimar is associated with those whose birthdays fall at the end of winter or during the transition into spring. This is especially accurate for those whose birthdays fall in the months of February and March. It is also related to those whose birthdays fall under the sign of Leo.</p>
        </div>
        
        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>2/</i> Why is Larimar so special?</h3>
          <p class="text-font-family font-choco">Larimar is a rare find that originates from the Barahona region of the Caribbean. Its beauty and rarity have made it a popular choice for jewelry and healing practices. The stone's calming and soothing properties make it an ideal stone for those seeking mental balance and stability.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>3/</i> Can you wear Larimar everyday?</h3>
          <p class="text-font-family font-choco">Yes, you can wear larimar everyday. It is a durable gemstone that can withstand everyday wear.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>4/</i> What goddess is associated with Larimar?</h3>
          <p class="text-font-family font-choco">Larimar is associated with the goddess of the sea, Yemaya.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>5/</i> How is the Larimar used?</h3>
          <p class="text-font-family font-choco">Larimar is often used in jewelry and as a tool for healing practices such as reflexology and acupuncture</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>6/</i> What zodiac is Larimar good for?</h3>
          <p class="text-font-family font-choco">Larimar is said to be beneficial for individuals born under the signs of Leo, Pisces, and Cancer.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>7/</i> Why is Larimar so special?</h3>
          <p class="text-font-family font-choco">Larimar is special due to its unique blue color, which is reminiscent of the Caribbean Sea. It is also relatively rare and has been known to possess healing properties for the physical, mental, and spiritual well-being.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>8/</i> What is the meaning of the Larimar stone?</h3>
          <p class="text-font-family font-choco">Larimar is believed to symbolize peace, clarity, and emotional healing.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>9/</i> Can you wear Larimar everyday?</h3>
          <p class="text-font-family font-choco">Yes, Larimar is a durable gemstone that can withstand everyday wear.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>10/</i> What goddess is associated with Larimar?</h3>
          <p class="text-font-family font-choco">Larimar is associated with the goddess energies of the sea, such as Yemaya, the goddess of the ocean and the mother of all living things.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>11/</i> How is the Larimar used?</h3>
          <p class="text-font-family font-choco">Larimar is commonly used in jewelry such as necklaces, earrings, bracelets, and rings. It can also be placed on the body for its healing properties.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>12/</i> Is Larimar a lucky stone?</h3>
          <p class="text-font-family font-choco">Yes, Larimar is considered to be a lucky stone, especially for those looking for emotional healing and clarity.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>13/</i> What birth month is Larimar?</h3>
          <p class="text-font-family font-choco">Larimar is not a traditional birthstone but is sometimes associated with the month of February.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>14/</i> What is Larimar in Feng Shui?</h3>
          <p class="text-font-family font-choco">In Feng Shui, Larimar is believed to be a stone of peace, tranquility, and harmony, and is used to bring balance and serenity to the home.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>15/</i> What is the luckiest stone on earth?</h3>
          <p class="text-font-family font-choco">The luckiest stone on earth is subjective and can vary depending on cultural beliefs and personal preferences. Some popular choices for luck-bringing stones include jade, aventurine, and citrine.</p>
        </div>
      </div>
    </div>

    <div style="background-image: url({{ section.settings.blog_image6 | img_url: 'master' }});" class="background-image blog_img6 w-100"></div>

    <div class="article-buttons w-100">
      <a href="{{ blog.previous_article }}" class="article-button"><img src="{{ 'arrow-left.png' | asset_url }}"> Prev</a>
      <a href="{{ blog.url }}" class="article-button article-back">Back To Blog</a>
      <a href="{{ blog.next_article }}" class="article-button">Next <img src="{{ 'arrow-right.png' | asset_url }}"></a>
    </div>

    <div class="collection">
      <div class="collection__title title-wrapper title-wrapper--no-top-margin">
        <h2 class="heading-font-family font-choco title">{{ section.settings.title | escape }}</h2>
      </div>
      <div class="slick-container">
        <div class="slick-slider-best">
          {%- for block in section.blocks -%}
            <div class="product">
              <div style="background-image: url('{{ block.settings.catalogue.image | img_url: 'master' }}')" class="img"></div>
              <div class="product-detail">
                {% assign article_handle = block.settings.catalogue.handle | split: '/' | first %}
                <p class="lorem-ipsum">{{ blogs[article_handle].title }}</p>
                <p class="blog-name">{{ block.settings.catalogue.title | escape }}</p>
                <a href="{{ block.settings.catalogue.url }}" class="blog-ntn button button--secondary">Read Article</a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {% include 'article-comment' %}
  </div>
</article>
{% comment %} END ARTICLE 203693 {% endcomment %}

{% schema %}
  {
    "name": "Custom Article",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "article_title1",
        "label": "Blog Post title 1"
      },
      {
        "type": "text",
        "id": "article_title2",
        "label": "Blog Post title 2"
      },
      {
        "type": "text",
        "id": "intro_title",
        "label": "Intro Letters"
      },
      {
        "type": "image_picker",
        "id": "blog_image1",
        "label": "Blog Banner 1"
      },
      {
        "type": "image_picker",
        "id": "blog_banner_2",
        "label": "Blog Banner 2"
      },
      {
        "type": "image_picker",
        "id": "blog_image2",
        "label": "Blog Image 2"
      },
      {
        "type": "image_picker",
        "id": "blog_image3",
        "label": "Blog Image 3"
      },
      {
        "type": "image_picker",
        "id": "blog_image4",
        "label": "Blog Image 4"
      },
      {
        "type": "image_picker",
        "id": "blog_image5",
        "label": "Blog Image 5"
      },
      {
        "type": "image_picker",
        "id": "blog_image6",
        "label": "Blog Image 6"
      },
      {
        "type": "image_picker",
        "id": "blog_image7",
        "label": "Blog Image 7"
      },
      {
        "type": "image_picker",
        "id": "blog_image8",
        "label": "Blog Image 8"
      },
      {
        "type": "image_picker",
        "id": "blog_image9",
        "label": "Blog Image 9"
      },
      {
        "type": "image_picker",
        "id": "blog_image10",
        "label": "Blog Image 10"
      },
      {
        "type": "image_picker",
        "id": "blog_image11",
        "label": "Blog Image 11"
      },
      {
        "type": "image_picker",
        "id": "blog_image12",
        "label": "Blog Image 12"
      },
      {
        "type": "image_picker",
        "id": "blog_image13",
        "label": "Blog Image 13"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Recommended for you",
        "label": "Collection Heading"
      },
      {
        "type": "radio",
        "id": "layout_mode",
        "label": "Layout Mode",
        "default": "col",
        "options": [
          {"value": "col", "label": "Column Mode"},
          {"value": "row", "label": "Row Mode"}
        ]
      }
    ],
    "blocks": [
      {
        "name": "article",
        "type": "article",
        "settings": [
          {
            "type": "article",
            "id": "catalogue",
            "label": "Select collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Article"
      }
    ]
  }
{% endschema %}