{{ 'section-custom-article.css' | asset_url | stylesheet_tag }}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-width">
    <div class="background-image article-banner w-100 mobile" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})">
    </div> 
    <div class="article-info d-flex justify-content-between align-center w-100">
      <div class="author-info d-flex justify-content-between align-center">
        <img src="{{ article.user.image | img_url: '30x' }}">
        <p class="author-name blog-info-font">{{ article.author }}</p>
      </div>
      <div class="article-detail d-flex justify-content-between align-center">
        <p class="created_at blog-info-font">
          <img src="{{ 'Clock.svg' | asset_url }}"> {{ article.published_at | date: format: 'short' }}
        </p>
        <p class="artile-heart blog-info-font"><img src="{{ 'blog_heart.svg' | asset_url }}"> {{ article.heart }} </p>
        <p class="article-comment blog-info-font"><img src="{{ 'Comment.svg' | asset_url }}"> {{ article.comments_count }} </p>
      </div>
    </div>

    <h1 class="heading-font-family font-brown">
      {{ section.settings.article_title1 }}<br>
      {%- if section.settings.article_title2 != blank -%}
        <span class="font-choco">{{ section.settings.article_title2 }}</span>
      {%- endif -%}
    </h1>

    <div class="header-introduction">
      {%- if section.settings.intro_title != blank -%}
        <h2 class="text-font-family font-choco mb-36">{{ section.settings.intro_title}}</h2>
      {%- endif -%}
      <div class="text-font-family font-choco">
        <p>The question of whether we choose crystals or if crystals choose us is a topic that has been debated by crystal enthusiasts for years. Some believe that we are drawn to particular crystals based on our unique energy needs, while others argue that the crystals themselves have an innate ability to choose their owners. Regardless of which perspective one takes, there is no denying the powerful connection that can be formed between a person and their crystal. Exploring this connection can deepen our understanding of the role crystals play in our lives and enhance our appreciation for the natural world.</p>
      </div>
    </div>

    {%- if section.settings.blog_image1 -%}
      {%- if section.settings.blog_banner_2 != blank -%}
        <div class="two-background-image">
          <div class="background-image bg-1" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})"></div>
          <div class="background-image bg-2" style="background-image: url({{ section.settings.blog_banner_2 | img_url: 'master' }})"></div>
        </div>
      {%- else -%}
        <div class="background-image article-banner desktop" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})"></div>
      {%- endif -%}
    {%- endif -%}
    
    <div class="article-grid">
      <div class="share">
        <ul>
          <li class="text-font-family font-choco">Share</li>
          <li><a href="http://www.twitter.com/share?url=do-we-choose-crystals-or-do-crystals-choose-us"><img src="{{ 'twitter.png' | asset_url }}"></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=do-we-choose-crystals-or-do-crystals-choose-us"><img src="{{ 'facebook.png' | asset_url }}"></a></li>
          <li><a href="https://www.instagram.com/?url=do-we-choose-crystals-or-do-crystals-choose-us"><img src="{{ 'instagram.png' | asset_url }}"></a></li>
        </ul>
      </div>

      <div class="articles">
        <div class="row align-bottom mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family font-choco">1/ The Human-Crystal Connection</h2>
            <p class="text-font-family font-choco mb-24">Crystals are believed to be powerful tools for healing and spiritual growth because of their ability to hold and amplify energy. When we work with crystals, we tap into their unique energy signatures and align our own energy with theirs. This alignment creates a powerful resonance that can help us achieve greater balance and harmony in our lives.</p>

            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">2/ Choosing Crystals</a>
            </h2>
            <p class="text-font-family font-choco mb-18">When it comes to choosing crystals, there are a variety of factors to consider. Intention is key, as it helps to focus our energy and direct it towards our goals. Physical properties such as color, texture, and shape can also play a role in crystal selection, as can the crystal's overall energy and vibration.</p>

            <p class="text-font-family font-choco mb-24">Different methods for selecting crystals include intuitive selection, pendulum dowsing, and research. Intuitive selection involves letting your intuition guide you towards the crystal that resonates with your energy the most. Pendulum dowsing involves using a pendulum to determine which crystal is right for you based on its energy vibration. Research involves learning about the properties and uses of different crystals and choosing the ones that align with your goals and intentions.</p>

            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">3/ Crystals Choosing Us</a>
            </h2>
            <p class="text-font-family font-choco mb-24">Sometimes, we may feel drawn to a particular crystal without consciously choosing it. This can happen when a crystal's energy resonates with our own, creating a powerful connection that draws us to it. Signs that a crystal may be calling to you include physical sensations such as tingling or warmth, as well as synchronicities such as seeing the same crystal repeatedly in different places.</p>

            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">4/ The Role of Intuition</a>
            </h2>
            <p class="text-font-family font-choco mb-24">Using intuition is an important part of working with crystals. By tapping into our inner wisdom, we can connect with the energy of a crystal and receive guidance on how to use it. Techniques for accessing your intuition include meditation, visualization, and journaling.</p>

            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">5/ Balancing Choice and Intuition</a>
            </h2>
            <p class="text-font-family font-choco mb-18">Finding a balance between conscious choice and intuitive selection is important when working with crystals. While it's helpful to research and learn about different crystals, it's also important to trust our intuition and let it guide us towards the crystals that are right for us. Honoring both our logical mind and our intuition can help us achieve the best results when working with crystals.</p>
            <p class="text-font-family font-choco mb-24">Whether we choose crystals or if crystals choose us is a topic that is open to interpretation. However, by exploring the human-crystal connection, choosing crystals that align with our goals and intentions, and tapping into our intuition, we can deepen our understanding of the role crystals play in our lives. By using them with intention and respect, we can harness their powerful energy to achieve greater balance, harmony, and spiritual growth.</p>

            <div style="background-image: url({{ section.settings.blog_image6 | img_url: 'master' }})" class="background-image landing"></div>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image2 | img_url: 'master' }})" class="background-image portrait mb-18"></div>
            <div style="background-image: url({{ section.settings.blog_image3 | img_url: 'master' }})" class="background-image portrait mb-18"></div>
            <div style="background-image: url({{ section.settings.blog_image4 | img_url: 'master' }})" class="background-image portrait mb-18"></div>
            <div style="background-image: url({{ section.settings.blog_image5 | img_url: 'master' }})" class="background-image portrait mb-18"></div>
          </div>
        </div>
{% comment %} 
        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">5/ Balancing Choice and Intuition</a>
            </h2>
            <p class="text-font-family font-choco">Finding a balance between conscious choice and intuitive selection is important when working with crystals. While it's helpful to research and learn about different crystals, it's also important to trust our intuition and let it guide us towards the crystals that are right for us. Honoring both our logical mind and our intuition can help us achieve the best results when working with crystals.</p>
            <p class="text-font-family font-choco">Whether we choose crystals or if crystals choose us is a topic that is open to interpretation. However, by exploring the human-crystal connection, choosing crystals that align with our goals and intentions, and tapping into our intuition, we can deepen our understanding of the role crystals play in our lives. By using them with intention and respect, we can harness their powerful energy to achieve greater balance, harmony, and spiritual growth.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image6 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">3/ Metaphysical Benefits of Wearing Larimar</a>
            </h2>
            <p class="text-font-family font-choco">Larimar's celestial energies are abundant, and the stone is effective in working with all of the higher chakras. It is most often known as a throat chakra stone due to the energy that emanates from it having the color of the ocean, but it is also an excellent partner for the heart chakra, the third eye chakra, and the crown chakra. The stone can help enhance spiritual awareness, emotional healing, and connection to higher beings. Its curative properties may also assist you in establishing a connection to the divine feminine and finding your flow in life.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image4 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center">
          <div class="col-md-12">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">Amethyst and Zodiac Signs</a>
            </h2>
            <p class="text-font-family font-choco mb-18">Larimar is too recent to be called a conventional birthstone, but its energy does seem to connect with those whose birthdays fall at the end of winter or during the transition into spring. This is especially accurate for those whose birthdays fall in the months of February and March. At this time, the gloom of winter begins to dissipate, and the light and hope of spring begin to make their way into the world. It's that time of year when the ice begins to melt and the water is crystal clear.</p>
            <p class="text-font-family font-choco mb-18">It is also possible to relate it to those whose birthdays fall under the sign of Leo. Leos are born when the sun is at its highest point in the sky, giving them a fiery personality. Larimar is a watery balancing stone, and as such, it has the ability to calm the more fiery aspects of the Leo and bring them back into balance</p>
          </div>
          <div class="col-md-12">
            <div style="background-image: url({{ section.settings.blog_image5 | img_url: 'master' }})" class="background-image larimar-amethyst"></div>
          </div>
        </div> {% endcomment %}

        <h2 class="Heading Heading-faq">FAQ</h2>
        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>1/</i> So, do crystals choose you?</h3>
          <p class="text-font-family font-choco">Yes, it's possible for crystals to choose us based on their unique energy vibrations.</p>
        </div>
        
        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>2/</i> How do I know which crystal is right for me?</h3>
          <p class="text-font-family font-choco">Factors to consider include intention, energy, physical properties, and personal resonance.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>3/</i> How do I choose crystals for someone else?</h3>
          <p class="text-font-family font-choco">It's helpful to consider their goals and intentions, as well as any physical or emotional challenges they may be facing.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>4/</i> Can you give someone your crystal?</h3>
          <p class="text-font-family font-choco">Yes, but it's important to cleanse and charge the crystal before giving it away to ensure that it's aligned with the new owner's energy.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>5/</i> How do you ask your crystals to work with you?</h3>
          <p class="text-font-family font-choco">Larimar is often used in jewelry and as a tool for healing practices such as reflexology and acupuncture</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>6/</i> How many crystals should you start off with?</h3>
          <p class="text-font-family font-choco">It's recommended to start with a few key crystals that align with your intentions and build your collection over time.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>7/</i> How do you charge crystals?</h3>
          <p class="text-font-family font-choco">Charging can be done through sunlight, moonlight, or by placing them on a crystal cluster. You can also charge crystals by setting an intention or using other energy practices such as sound or Reiki.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>8/</i> How do you activate a crystal?</h3>
          <p class="text-font-family font-choco">You can activate a crystal by setting an intention and connecting with its energy through visualization or meditation.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>9/</i>  Do all crystals need to be charged? </h3>
          <p class="text-font-family font-choco">Yes, all crystals benefit from being charged regularly to maintain their energy and vibrancy.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-brown"><i>10/</i> How long do crystals last?</h3>
          <p class="text-font-family font-choco">Crystals can last indefinitely as long as they are cared for properly and cleansed regularly.</p>
        </div>
      </div>
    </div>

    <div style="background-image: url({{ section.settings.blog_image6 | img_url: 'master' }});" class="background-image blog_img6 w-100"></div>

    <div class="article-buttons w-100">
      <a href="{{ blog.previous_article }}" class="article-button"><img src="{{ 'arrow-left.png' | asset_url }}"> Prev</a>
      <a href="{{ blog.url }}" class="article-button article-back">Back To Blog</a>
      <a href="{{ blog.next_article }}" class="article-button">Next <img src="{{ 'arrow-right.png' | asset_url }}"></a>
    </div>

    <div class="collection">
      <div class="collection__title title-wrapper title-wrapper--no-top-margin">
        <h2 class="heading-font-family font-choco title">{{ section.settings.title | escape }}</h2>
      </div>
      <div class="slick-container">
        <div class="slick-slider-best">
          {%- for block in section.blocks -%}
            <div class="product">
              <div style="background-image: url('{{ block.settings.catalogue.image | img_url: 'master' }}')" class="img"></div>
              <div class="product-detail">
                {% assign article_handle = block.settings.catalogue.handle | split: '/' | first %}
                <p class="lorem-ipsum">{{ blogs[article_handle].title }}</p>
                <p class="blog-name">{{ block.settings.catalogue.title | escape }}</p>
                <a href="{{ block.settings.catalogue.url }}" class="blog-ntn button button--secondary">Read Article</a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {% include 'article-comment' %}
  </div>
</article>
{% comment %} END ARTICLE 203693 {% endcomment %}

{% schema %}
  {
    "name": "Custom Article",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "article_title1",
        "label": "Blog Post title 1"
      },
      {
        "type": "text",
        "id": "article_title2",
        "label": "Blog Post title 2"
      },
      {
        "type": "text",
        "id": "intro_title",
        "label": "Intro Letters"
      },
      {
        "type": "image_picker",
        "id": "blog_image1",
        "label": "Blog Banner 1"
      },
      {
        "type": "image_picker",
        "id": "blog_banner_2",
        "label": "Blog Banner 2"
      },
      {
        "type": "image_picker",
        "id": "blog_image2",
        "label": "Blog Image 2"
      },
      {
        "type": "image_picker",
        "id": "blog_image3",
        "label": "Blog Image 3"
      },
      {
        "type": "image_picker",
        "id": "blog_image4",
        "label": "Blog Image 4"
      },
      {
        "type": "image_picker",
        "id": "blog_image5",
        "label": "Blog Image 5"
      },
      {
        "type": "image_picker",
        "id": "blog_image6",
        "label": "Blog Image 6"
      },
      {
        "type": "image_picker",
        "id": "blog_image7",
        "label": "Blog Image 7"
      },
      {
        "type": "image_picker",
        "id": "blog_image8",
        "label": "Blog Image 8"
      },
      {
        "type": "image_picker",
        "id": "blog_image9",
        "label": "Blog Image 9"
      },
      {
        "type": "image_picker",
        "id": "blog_image10",
        "label": "Blog Image 10"
      },
      {
        "type": "image_picker",
        "id": "blog_image11",
        "label": "Blog Image 11"
      },
      {
        "type": "image_picker",
        "id": "blog_image12",
        "label": "Blog Image 12"
      },
      {
        "type": "image_picker",
        "id": "blog_image13",
        "label": "Blog Image 13"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Recommended for you",
        "label": "Collection Heading"
      },
      {
        "type": "radio",
        "id": "layout_mode",
        "label": "Layout Mode",
        "default": "col",
        "options": [
          {"value": "col", "label": "Column Mode"},
          {"value": "row", "label": "Row Mode"}
        ]
      }
    ],
    "blocks": [
      {
        "name": "article",
        "type": "article",
        "settings": [
          {
            "type": "article",
            "id": "catalogue",
            "label": "Select collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Article"
      }
    ]
  }
{% endschema %}