{{ 'section-custom-article.css' | asset_url | stylesheet_tag }}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-width">
    <div class="background-image article-banner w-100 mobile" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})">
    </div> 
    <div class="article-info d-flex justify-content-between align-center w-100">
      <div class="author-info d-flex justify-content-between align-center">
        <img src="{{ article.user.image | img_url: '30x' }}">
        <p class="author-name blog-info-font">{{ article.author }}</p>
      </div>
      <div class="article-detail d-flex justify-content-between align-center">
        <p class="created_at blog-info-font">
          <img src="{{ 'Clock.svg' | asset_url }}"> {{ article.published_at | date: format: 'short' }}
        </p>
        <p class="artile-heart blog-info-font"><img src="{{ 'blog_heart.svg' | asset_url }}"> {{ article.heart }} </p>
        <p class="article-comment blog-info-font"><img src="{{ 'Comment.svg' | asset_url }}"> {{ article.comments_count }} </p>
      </div>
    </div>

    <h1 class="heading-font-family font-brown">How To Choose Jewellery To Match Your Hairstyle</h1>
<div class="header-introduction">
<div class="text-font-family font-choco">
<p>Jewellery can be the perfect finishing touch to any outfit, but choosing the right pieces to match your hairstyle can be a challenge. Whether you have short hair, long hair, or anything in between, there are jewellery options that can enhance your look and complement your hairstyle. In this article, we'll provide tips and tricks for choosing the right pieces to match your hairstyle, featuring some of the beautiful pieces from Cassiopeia Gems.</p>
</div>
</div>
<div class="two-background-image">
<div class="background-image bg-1" style="background-image: url('//cdn.shopify.com/s/files/1/0620/0193/8600/files/image5_5fc2fa66-4e2e-4d71-9819-a01de2730d87.jpg?v=1680418044');"></div>
<div class="background-image bg-2" style="background-image: url('//cdn.shopify.com/s/files/1/0620/0193/8600/files/image12.jpg?v=1680418092');"></div>
</div>
<div class="article-grid">
<div class="share">
<ul>
<li class="text-font-family font-choco">Share</li>
<li><a href="http://www.twitter.com/share?url=discover-the-healing-powers-of-moonstone-physical-emotional-and-metaphysical"><img src="//cdn.shopify.com/s/files/1/0620/0193/8600/t/4/assets/twitter.png?v=141655448953475045041680174201" /></a></li>
<li><a href="https://www.facebook.com/sharer/sharer.php?u=discover-the-healing-powers-of-moonstone-physical-emotional-and-metaphysical"><img src="//cdn.shopify.com/s/files/1/0620/0193/8600/t/4/assets/facebook.png?v=166509867819682877281680174199" /></a></li>
<li><a href="https://www.instagram.com/?url=discover-the-healing-powers-of-moonstone-physical-emotional-and-metaphysical"><img src="//cdn.shopify.com/s/files/1/0620/0193/8600/t/4/assets/instagram.png?v=116008302052608726571680174200" /></a></li>
</ul>
</div>
<div class="articles">
<div class="row align-center mb-top">
<div class="col-md-6">
<h2 class="mb-24 text-font-family font-choco">Jewellery for Short Hair</h2>
<p class="text-font-family font-choco">Short hair can provide a great opportunity to showcase your earrings and necklaces. For earrings, consider wearing studs or small hoops to accentuate your facial features. A simple pendant necklace or choker can also work well with short hair, drawing attention to your neck and collarbone. Check out Cassiopeia's <a href="https://cassiopeiagems.com/products/amethyst-silver-stud-earrings?_pos=2&amp;_psq=amethyst%20stud&amp;_ss=e&amp;_v=1.0">Amethyst Classic Silver Set Stud</a> or <a href="https://cassiopeiagems.com/products/blue-copper-turquoise-stud-earrings?_pos=5&amp;_psq=blue%20copper&amp;_ss=e&amp;_v=1.0">Blue Copper Turquoise Stud Earrings</a> for the perfect complement to a pixie cut.</p>
</div>
<div class="col-md-6">
<div style="background-image: url('//cdn.shopify.com/s/files/1/0620/0193/8600/files/image11.jpg?v=1680418078');" class="background-image top6"></div>
</div>
</div>
<div class="row align-center mb-top">
<div class="col-md-6">
<h2 class="mb-24 text-font-family"><a href="#" class="font-choco">Physical Benefits of Wearing Moonstone</a></h2>
<p class="text-font-family font-choco">Moonstone is said to possess numerous physical benefits, such as promoting hormonal balance and supporting reproductive health. It is often used to alleviate menstrual discomfort and promote fertility. Wearing moonstone may also help improve digestion and boost the immune system, leading to overall better physical health.</p>
</div>
<div class="col-md-6">
<div style="background-image: url('//cdn.shopify.com/s/files/1/0620/0193/8600/files/image8.png?v=1680418110');" class="background-image top6"></div>
</div>
</div>
<div class="row align-center mb-top">
<div class="col-md-6">
<h2 class="mb-24 text-font-family"><a href="#" class="font-choco">Jewellery for Shoulder Length Hair</a></h2>
<p class="text-font-family font-choco">Shoulder-length hair can be a versatile length that allows you to wear a variety of jewellery styles. For earrings, try dangle earrings to add some drama to your look. A delicate chain necklace with a small pendant can also work well with shoulder-length hair. Check out the Cassiopeia Gems <a href="https://cassiopeiagems.com/products/larimar-leaf-rhodium-rhodium-silver-earrings?_pos=2&amp;_sid=755975395&amp;_ss=r">Feather Earrings</a> and the <a href="https://cassiopeiagems.com/collections/shop-rings/products/larimar-buffalo-black-horn-pendant-with-leather-chain">Larimar Trinity Pendant!</a></p>
</div>
<div class="col-md-6">
<div style="background-image: url('//cdn.shopify.com/s/files/1/0620/0193/8600/files/image9.png?v=1680418134');" class="background-image top6"></div>
</div>
</div>
<div class="row align-center mb-top">
<div class="col-md-6">
<h2 class="mb-24 text-font-family"><a href="#" class="font-choco">Jewellery for Long Hair</a></h2>
<p class="text-font-family font-choco">Long hair can provide a great canvas for bold and statement jewellery pieces. Dangle earrings, hoops, and chandelier earrings can all work well with long hair, adding some extra sparkle and drama. For necklaces, consider wearing a <a href="https://cassiopeiagems.com/collections/signature-necklace">signature necklace</a> or a <a href="https://cassiopeiagems.com/collections/shop-rings">pendant necklace</a> to add some interest to your look. Cassiopeia's <a href="https://cassiopeiagems.com/collections/larimar/products/gold-plated-larimar-necklace">blue stone necklaces</a> and <a href="https://cassiopeiagems.com/collections/shop-rings/products/blue-copper-turquoise-silver-pendant">blue copper turquoise silver pendant</a> are ideal for long hair.</p>
</div>
<div class="col-md-6">
<div style="background-image: url('//cdn.shopify.com/s/files/1/0620/0193/8600/files/image6_cbb0ac24-a0e2-4c6f-9643-fd28c541569f.jpg?v=1680418158');" class="background-image top6"></div>
</div>
</div>
<div class="row align-center mb-24">
<div class="col-md-6">
<h2 class="mb-24 text-font-family"><span class="font-brown mb-18">Matching Jewellery:</span> <a href="#" class="font-choco">1. With Hair Down</a></h2>
<p class="text-font-family font-choco">When wearing your hair down, earrings can help to accentuate your facial features and draw attention to your face. Small stud earrings or delicate drop earrings work well with long, loose hair. If you're looking to add some extra sparkle, try wearing statement earrings with a bold design or a pop of colour. Check out Cassiopeia's <a href="https://cassiopeiagems.com/collections/silver-classic-set/products/moonstone-silver-classic-set">Moonstone Classic Silver Set</a> and the <a href="https://cassiopeiagems.com/products/amethyst-stud-earrings?_pos=1&amp;_psq=amethyst%20stud&amp;_ss=e&amp;_v=1.0">Amtheyst Stud Earrings</a> for some beautiful options.</p>
</div>
<div class="col-md-6">
<div style="background-image: url('//cdn.shopify.com/s/files/1/0620/0193/8600/files/image2_e9e12364-7944-4395-b3b3-97bd39ed2d62.jpg?v=1680418189');" class="background-image top6"></div>
</div>
</div>
<div class="row align-center mb-top">
<div class="col-md-12">
<h2 class="mb-24 text-font-family"><a href="#" class="font-choco">2. With Updo Hairstyles</a></h2>
<p class="text-font-family font-choco">With an updo hairstyle, you have the opportunity to showcase bold and statement jewellery yet oftentimes, less is more without the addition of long locks. Simple hoop earrings or bold stud earrings can all add some dimension to your look. Consider choosing earrings that complement the colour or style of your outfit. For earrings, check out Cassiopeia’s <a href="https://cassiopeiagems.com/collections/shop-earrings/products/citrine-cut-stud-earrings">Citrine Cut Stud Earrings</a> and for necklaces, you can’t go wrong with a <a href="https://cassiopeiagems.com/collections/signature-necklace/products/solaire">Solaire</a> or <a href="https://cassiopeiagems.com/collections/signature-necklace/products/ra-eye-with-white-topaz">Ra Eye with White Topaz</a> signature necklace.</p>
</div>
</div>
<div class="row align-center mb-top">
<div class="col-md-12">
<h2 class="mb-24 text-font-family"><a href="#" class="font-choco">Matching Necklaces with Different Hairstyles</a></h2>
<p class="text-font-family font-choco mb-18">When choosing necklaces to match your hairstyle, consider the length and style of your necklace. A simple pendant necklace or choker can work great with short hair, while a long pendant necklace can complement long hair. For shoulder length hair, consider wearing a delicate chain necklace with a small pendant, or layering necklaces of different lengths. With an updo hairstyle, try wearing a bold statement necklace or a layered necklace.</p>
<p class="text-font-family font-choco">Choosing the right jewellery to match your hairstyle can enhance your overall look and complement your outfit. From delicate studs to bold statement pieces, there are jewellery options that can work with any hairstyle. By considering the length and style of your hair, you can choose the perfect earrings and necklaces to highlight your features and express your personal style. Be sure to check out Cassiopeia Gems' collection of stunning jewellery pieces to find the perfect match for your hairstyle.</p>
</div>
</div>
</div>
</div>

      </div>
    </div>

    <div class="article-buttons w-100">
      <a href="{{ blog.previous_article }}" class="article-button"><img src="{{ 'arrow-left.png' | asset_url }}"> Prev</a>
      <a href="{{ blog.url }}" class="article-button article-back">Back To Blog</a>
      <a href="{{ blog.next_article }}" class="article-button">Next <img src="{{ 'arrow-right.png' | asset_url }}"></a>
    </div>

    <div class="collection">
      <div class="collection__title title-wrapper title-wrapper--no-top-margin">
        <h2 class="heading-font-family font-choco title">{{ section.settings.title | escape }}</h2>
      </div>
      <div class="slick-container">
        <div class="slick-slider-best">
          {%- for block in section.blocks -%}
            <div class="product">
              <div style="background-image: url('{{ block.settings.catalogue.image | img_url: 'master' }}')" class="img"></div>
              <div class="product-detail">
                <p class="lorem-ipsum">lorem ipsum</p>
                <p class="blog-name">{{ block.settings.catalogue.title | escape }}</p>
                <a href="{{ block.settings.catalogue.url }}" class="blog-ntn button button--secondary">Read Article</a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {% include 'article-comment' %}
  </div>
</article>
{% comment %} END ARTICLE 203693 {% endcomment %}

{% schema %}
  {
    "name": "Custom Article",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "article_title1",
        "label": "Blog Post title 1"
      },
      {
        "type": "text",
        "id": "article_title2",
        "label": "Blog Post title 2"
      },
      {
        "type": "text",
        "id": "intro_title",
        "label": "Intro Letters"
      },
      {
        "type": "image_picker",
        "id": "blog_image1",
        "label": "Blog Banner 1"
      },
      {
        "type": "image_picker",
        "id": "blog_banner_2",
        "label": "Blog Banner 2"
      },
      {
        "type": "image_picker",
        "id": "blog_image2",
        "label": "Blog Image 2"
      },
      {
        "type": "image_picker",
        "id": "blog_image3",
        "label": "Blog Image 3"
      },
      {
        "type": "image_picker",
        "id": "blog_image4",
        "label": "Blog Image 4"
      },
      {
        "type": "image_picker",
        "id": "blog_image5",
        "label": "Blog Image 5"
      },
      {
        "type": "image_picker",
        "id": "blog_image6",
        "label": "Blog Image 6"
      },
      {
        "type": "image_picker",
        "id": "blog_image7",
        "label": "Blog Image 7"
      },
      {
        "type": "image_picker",
        "id": "blog_image8",
        "label": "Blog Image 8"
      },
      {
        "type": "image_picker",
        "id": "blog_image9",
        "label": "Blog Image 9"
      },
      {
        "type": "image_picker",
        "id": "blog_image10",
        "label": "Blog Image 10"
      },
      {
        "type": "image_picker",
        "id": "blog_image11",
        "label": "Blog Image 11"
      },
      {
        "type": "image_picker",
        "id": "blog_image12",
        "label": "Blog Image 12"
      },
      {
        "type": "image_picker",
        "id": "blog_image13",
        "label": "Blog Image 13"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Recommended for you",
        "label": "Collection Heading"
      },
      {
        "type": "radio",
        "id": "layout_mode",
        "label": "Layout Mode",
        "default": "col",
        "options": [
          {"value": "col", "label": "Column Mode"},
          {"value": "row", "label": "Row Mode"}
        ]
      }
    ],
    "blocks": [
      {
        "name": "article",
        "type": "article",
        "settings": [
          {
            "type": "article",
            "id": "catalogue",
            "label": "Select collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Article"
      }
    ]
  }
{% endschema %}