{{ 'section-custom-article.css' | asset_url | stylesheet_tag }}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-width">
    <div class="background-image article-banner w-100 mobile" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})">
    </div> 
    <div class="article-info d-flex justify-content-between align-center w-100">
      <div class="author-info d-flex justify-content-between align-center">
        <img src="{{ article.user.image | img_url: '30x' }}">
        <p class="author-name blog-info-font">{{ article.author }}</p>
      </div>
      <div class="article-detail d-flex justify-content-between align-center">
        <p class="created_at blog-info-font">
          <img src="{{ 'Clock.svg' | asset_url }}"> {{ article.published_at | date: format: 'short' }}
        </p>
        <p class="artile-heart blog-info-font"><img src="{{ 'blog_heart.svg' | asset_url }}"> {{ article.heart }} </p>
        <p class="article-comment blog-info-font"><img src="{{ 'Comment.svg' | asset_url }}"> {{ article.comments_count }} </p>
      </div>
    </div>

    <h1 class="heading-font-family font-brown top6">Top 6 Pearl Jewelry<br><span class="font-choco">Trends for 2023</span></h1>

    <div class="header-introduction">
      <h2 class="text-font-family font-choco mb-36">The Healing Properties of Crystals</h2>
      <div class="text-font-family font-choco">
        <p>As we enter 2023, it's time to start thinking about refreshing our wardrobe with the latest trends. If you're a fan of classic and timeless jewellery, look no further than pearls.</p>
        <p>This lustrous gemstone is set to be one of the most popular jewellery trends this year, with brands incorporating pearls into modern and chic designs. Here are the top 6 pearl jewellery trends for 2023, with mentions of some of the most popular brands in the market:</p>
      </div>
    </div>

    <div class="background-image article-banner desktop" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})">
    </div> 
    
    <div class="article-grid">
      <div class="share">
        <ul>
          <li class="text-font-family font-choco">Share</li>
          <li><a href="http://www.twitter.com/share?url=https://cassiopeiagems.com/blogs/news/unlocking-the-healing-powers-of-amethyst-physical-emotional-and-metaphysical"><img src="{{ 'twitter.png' | asset_url }}"></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://cassiopeiagems.com/blogs/news/unlocking-the-healing-powers-of-amethyst-physical-emotional-and-metaphysical"><img src="{{ 'facebook.png' | asset_url }}"></a></li>
          <li><a href="https://www.instagram.com/?url=https://cassiopeiagems.com/blogs/news/unlocking-the-healing-powers-of-amethyst-physical-emotional-and-metaphysical"><img src="{{ 'instagram.png' | asset_url }}"></a></li>
        </ul>
      </div>
      <div class="articles">
        <div class="row align-center mb-36">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <p class="font-brown top6">Trend #1</p>
              <a href="https://www.google.com/url?q=https://cassiopeiagems.com/products/larimar-mop-rhodium-silver-necklace?_pos%3D2%26_sid%3D8d2a5c869%26_ss%3Dr&sa=D&source=docs&ust=1680369387139904&usg=AOvVaw3zig44W8GBhbQA4cBVvCCM" class="font-choco">Statement Pearl Necklaces</a>
            </h2>
            <p class="article-content mb-36">Statement pearl necklaces are one of the biggest pearl jewellery trends for 2023. Chunky and layered necklaces with oversized pearls are all the rage this year, and they can instantly elevate any outfit. Even designer brands like Mikimoto and Bulgari have showcased some stunning statement pearl necklaces in their latest collections. Check out Cassiopeia Larimar & Mother of Pearl Necklace for a statement piece that will instantly turn heads.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image2 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>
        <div class="row align-center mb-36">
          <div class="col-md-6">
            <h2 class="mb-24"><a href="#" class="article-heading">Amethyst and Zodiac Signs</a></h2>
            <p class="article-content">Amethyst is a popular gemstone that has been used for centuries for its healing and protective properties. It is a variety of quartz that gets its purple colour from iron and other trace elements. Amethyst is believed to enhance intuition, spiritual awareness, and emotional balance. It has a long and interesting history that dates back to ancient times when it was used by the Greeks and Romans for its healing properties. Amethyst is also the birthstone for February and is associated with the zodiac sign of Pisces.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image3 | img_url: 'master' }})" class="background-image blog_img3 w-100"></div>
          </div>
        </div>
        <div class="row align-bottom mb-36">
          <div class="col-md-6">
            <h2 class="mb-24"><a href="#" class="article-heading">Cassiopeia Gems' Amethyst Jewelry Collection</a></h2>
            <div class="left-border">
              <p class="article-content">Cassiopeia Gems offers a beautiful collection of amethyst jewellery that is perfect for anyone looking to experience the benefits of this powerful gemstone. Our collection includes a range of styles, from delicate amethyst necklaces to bold amethyst statement rings.</p>
              <p class="article-content">Each piece is made with high-quality amethyst gemstones that are carefully selected for their beauty and spiritual properties. By choosing amethyst jewellery from Cassiopeia Gems, experience this gemstone of unrivalled beauty in a unique and stylish way.</p>
            </div>
            <div style="background-image: url({{ section.settings.blog_image5 | img_url: 'master' }})" class="background-image blog_img5 w-100"></div>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image4 | img_url: 'master' }})" class="background-image blog_img4 w-100"></div>
          </div>
        </div>
      
        <h2 class="Heading Heading-faq">FAQ</h2>
        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>1/</i> What chakra is activated with Amethyst?</h3>
          <p class="article-content faq-content">Amethyst is associated with the third eye and crown chakras.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>2/</i> What is the Amethyst stone good for?</h3>
          <p class="article-content faq-content">Amethyst is good for reducing stress and anxiety, promoting relaxation and calmness, enhancing intuition and spiritual awareness, and providing protection and spiritual grounding.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>3/</i> Where should you place Amethyst on your body?</h3>
          <p class="article-content faq-content">Where you should place your amethyst crystal depends on what you are hoping to achieve. For example, if you want to promote relaxation and calmness, you could place your amethyst crystal near your bed or in your meditation space. If you want to enhance intuition and spiritual awareness, you could carry an amethyst crystal with you or wear amethyst jewellery.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>4/</i> Does Amethyst have any negative effects?</h3>
          <p class="article-content faq-content">Amethyst is generally considered safe and does not have any known negative effects. However, it is important to note that some people may experience sensitivity to the energy of certain gemstones, including amethyst.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>5/</i> What colour Amethyst is most valuable?</h3>
          <p class="article-content faq-content">The most valuable amethyst is a deep, rich purple color with red and blue flashes. This is known as "Siberian" amethyst and is considered the finest quality.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>6/</i> What does Amethyst protect you from?</h3>
          <p class="article-content faq-content">Amethyst is believed to provide protection from negative energy and promote spiritual grounding.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>7/</i> What does Amethyst stone symbolise?</h3>
          <p class="article-content faq-content">Amethyst is often associated with spiritual growth, intuition, and emotional healing.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>8/</i> Can I wear Amethyst every day?</h3>
          <p class="article-content faq-content">Yes, you can wear amethyst every day. It is a durable gemstone that can withstand everyday wear.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>9/</i> Does Amethyst help you sleep?</h3>
          <p class="article-content faq-content">Yes, amethyst is believed to improve sleep quality and promote relaxation.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>10/</i> What is a good quality Amethyst stone?</h3>
          <p class="article-content faq-content">A good quality amethyst should be a deep, rich purple colour with good clarity and minimal inclusions.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>11/</i> How rare is Amethyst?</h3>
          <p class="article-content faq-content">Amethyst is a relatively common gemstone, although high-quality specimens can be rare and valuable.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>12/</i> What are the benefits of using Amethyst?</h3>
          <p class="article-content faq-content">The benefits of using amethyst stones include physical pain relief, emotional balance, enhanced intuition and spiritual awareness, and protection from negative energy.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>13/</i> How do you cleanse Amethyst stones?</h3>
          <p class="article-content faq-content">Amethyst can be cleansed by placing it in sunlight or moonlight, smudging with sage or palo santo, or using other methods of energy cleansing such as sound or salt.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>14/</i> What are the geological properties of Amethyst?</h3>
          <p class="article-content faq-content">Amethyst is a type of quartz that gets its purple colour from iron and other trace elements. It can be found in many parts of the world, including Brazil, Uruguay, and Zambia.</p>
        </div>

        <div class="faq-item">
          <h3 class="article-heading faq-heading"><i>15/</i> What does Amethyst do spiritually?</h3>
          <p class="article-content faq-content">Amethyst is believed to enhance spiritual awareness, intuition, and emotional healing. It is also said to provide protection and spiritual grounding.</p>
        </div>
      </div>
    </div>

    <div style="background-image: url({{ section.settings.blog_image6 | img_url: 'master' }})" class="background-image blog_img6 w-100"></div>

    <div class="article-buttons w-100">
      <a href="{{ blog.previous_article }}" class="article-button"><img src="{{ 'arrow-left.png' | asset_url }}"> Prev</a>
      <a href="{{ blog.url }}" class="article-button article-back">Back To Blog</a>
      <a href="{{ blog.next_article }}" class="article-button">Next <img src="{{ 'arrow-right.png' | asset_url }}"></a>
    </div>

    <div class="collection">
      <div class="collection__title title-wrapper title-wrapper--no-top-margin">
        <h2 class="heading-font-family font-choco title">{{ section.settings.title | escape }}</h2>
      </div>
      <div class="slick-container">
        <div class="slick-slider-best">
          {%- for block in section.blocks -%}
            <div class="product">
              <div style="background-image: url('{{ block.settings.catalogue.image | img_url: 'master' }}')" class="img"></div>
              <div class="product-detail">
                <p class="lorem-ipsum">lorem ipsum</p>
                <p class="blog-name">{{ block.settings.catalogue.title | escape }}</p>
                <a href="{{ block.settings.catalogue.url }}" class="blog-ntn button button--secondary">Read Article</a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>

    {% include 'article-comment' %}
  </div>
</article>
{% comment %} END ARTICLE 203693 {% endcomment %}

{% schema %}
  {
    "name": "Custom Article",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Shop Catalogue",
        "label": "t:sections.featured-collection.settings.title.label"
      },
        {
          "type": "image_picker",
          "id": "blog_image1",
          "label": "Blog Image Banner"
        },
        {
          "type": "image_picker",
          "id": "blog_image2",
          "label": "Blog Image 2"
        },
        {
          "type": "image_picker",
          "id": "blog_image3",
          "label": "Blog Image 3"
        },
        {
          "type": "image_picker",
          "id": "blog_image4",
          "label": "Blog Image 4"
        },
        {
          "type": "image_picker",
          "id": "blog_image5",
          "label": "Blog Image 5"
        },
        {
          "type": "image_picker",
          "id": "blog_image6",
          "label": "Blog Image 6"
        },
        {
          "type": "image_picker",
          "id": "blog_image7",
          "label": "Blog Image 7"
        },
        {
          "type": "image_picker",
          "id": "blog_image8",
          "label": "Blog Image 8"
        }
      ],
    "blocks": [
    {
      "name": "article",
      "type": "article",
      "settings": [
        {
          "type": "article",
          "id": "catalogue",
          "label": "Select collection"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "Custom Article"
      }
    ]
  }
{% endschema %}