{{ 'section-custom-article.css' | asset_url | stylesheet_tag }}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-width">
    <div class="background-image article-banner w-100 mobile" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})">
    </div> 
    <div class="article-info d-flex justify-content-between align-center w-100">
      <div class="author-info d-flex justify-content-between align-center">
        <img src="{{ article.user.image | img_url: '30x' }}">
        <p class="author-name blog-info-font">{{ article.author }}</p>
      </div>
      <div class="article-detail d-flex justify-content-between align-center">
        <p class="created_at blog-info-font">
          <img src="{{ 'Clock.svg' | asset_url }}"> {{ article.published_at | date: format: 'short' }}
        </p>
        <p class="artile-heart blog-info-font"><img src="{{ 'blog_heart.svg' | asset_url }}"> {{ article.heart }} </p>
        <p class="article-comment blog-info-font"><img src="{{ 'Comment.svg' | asset_url }}"> {{ article.comments_count }} </p>
      </div>
    </div>

    <h1 class="heading-font-family font-brown top6">Top 6 Pearl Jewelry<br><span class="font-choco">Trends for 2023</span></h1>

    <div class="header-introduction">
      <h2 class="text-font-family font-choco mb-36">The Healing Properties of Crystals</h2>
      <div class="text-font-family font-choco">
        <p>As we enter 2023, it's time to start thinking about refreshing our wardrobe with the latest trends. If you're a fan of classic and timeless jewellery, look no further than pearls.</p>
        <p>This lustrous gemstone is set to be one of the most popular jewellery trends this year, with brands incorporating pearls into modern and chic designs. Here are the top 6 pearl jewellery trends for 2023, with mentions of some of the most popular brands in the market:</p>
      </div>
    </div>

    <div class="background-image article-banner desktop" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})">
    </div> 
    
    <div class="article-grid">
      <div class="share">
        <ul>
          <li class="text-font-family font-choco">Share</li>
          <li><a href="http://www.twitter.com/share?url=https://cassiopeiagems.com/blogs/news/unlocking-the-healing-powers-of-amethyst-physical-emotional-and-metaphysical"><img src="{{ 'twitter.png' | asset_url }}"></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://cassiopeiagems.com/blogs/news/unlocking-the-healing-powers-of-amethyst-physical-emotional-and-metaphysical"><img src="{{ 'facebook.png' | asset_url }}"></a></li>
          <li><a href="https://www.instagram.com/?url=https://cassiopeiagems.com/blogs/news/unlocking-the-healing-powers-of-amethyst-physical-emotional-and-metaphysical"><img src="{{ 'instagram.png' | asset_url }}"></a></li>
        </ul>
      </div>

      <div class="articles">
        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <p class="font-brown top6">Trend #1</p>
              <a href="javascript:;" class="font-choco">Statement Pearl Necklaces</a>
            </h2>
            <p class="text-font-family font-choco">Statement pearl necklaces are one of the biggest pearl jewellery trends for 2023. Chunky and layered necklaces with oversized pearls are all the rage this year, and they can instantly elevate any outfit. Even designer brands like Mikimoto and Bulgari have showcased some stunning statement pearl necklaces in their latest collections. Check out Cassiopeia Larimar & Mother of Pearl Necklace for a statement piece that will instantly turn heads.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image2 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <p class="font-brown top6">Trend #2</p>
              <a href="javascript:;" class="font-choco">Baroque Pearls</a>
            </h2>
            <p class="text-font-family font-choco">Baroque pearls are irregularly shaped pearls that have been growing in popularity over the past few years. In 2023, they will continue to be a trendy and unique option for pearl jewellery. Asymmetrical and irregular shapes create an eye-catching and organic effect that makes baroque pearls perfect for statement earrings or pendants. Cassiopeia Gems offers a beautiful Baroque Pearl & Larimar earring set that showcases the natural beauty of these pearls.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image3 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <p class="font-brown top6">Trend #3</p>
              <a href="javascript:;" class="font-choco">Pearl Stud Earrings</a>
            </h2>
            <p class="text-font-family font-choco">Pearl stud earrings are a timeless classic that will never go out of style. In 2023, they will remain a popular choice, with dainty and minimalist designs taking centre stage. Luxury brands like Chanel and Dior have been showcasing some stunning pearl drop earrings in their latest collections. Whether you prefer simple studs or long, dangling earrings, pearl drops can add an elegant touch to any outfit. Cassiopeia Gems' White Pearl Stud Earrings are a beautiful example of this trend.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image4 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-12">
            <h2 class="mb-24 text-font-family">
              <p class="font-brown top6">Trend #4</p>
              <a href="javascript:;" class="font-choco">Layered Pearl Bracelets</a>
            </h2>
            <p class="text-font-family font-choco">Layered bracelets have been popular for several seasons now, and in 2023, expect to see layered pearl bracelets take centre stage. Stackable and mixed-material bracelets with pearls will be a stylish and versatile option for any occasion. Layered pearl bracelets are perfect for adding a touch of elegance to any outfit.</p>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <p class="font-brown top6">Trend #5</p>
              <a href="javascript:;" class="font-choco">Dangly Pearl Earrings</a>
            </h2>
            <p class="text-font-family font-choco">Dangly pearl earrings have always been a wardrobe staple, and now they are getting an update with the addition of pearls. Dangly pearl earrings are a versatile and trendy option for 2023, with large and bold hoops adorned with pearls making a statement. Cassiopeia Gems' Larimar & Abalone Earrings are a perfect example of this trend.</p>
          </div>
          <div class="col-md-6 d-flex">
            <div style="background-image: url({{ section.settings.blog_image5 | img_url: 'master' }})" class="background-image top6 mr-5"></div>
            <div style="background-image: url({{ section.settings.blog_image6 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <p class="font-brown top6">Trend #6</p>
              <a href="javascript:;" class="font-choco">Pearl Nacre Necklace</a>
            </h2>
            <p class="text-font-family font-choco">Pearl Nacre necklaces are another popular pearl jewellery trend for 2023. This type of necklace features layers of mother-of-pearl, also known as nacre, stacked to create a unique and organic look. The result is a stunning, multi-dimensional effect that adds depth and texture to any outfit. Check out Cassiopeia Gems' Pearl Nacre Necklace for a unique and modern twist on the classic pearl necklace.</p>
          </div>
          <div class="col-md-6 d-flex">
            <div style="background-image: url({{ section.settings.blog_image7 | img_url: 'master' }})" class="background-image top6 mr-5"></div>
            <div style="background-image: url({{ section.settings.blog_image8 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
          <div class="col-md-12">
            <div class="text-font-family font-choco left-border top6">
              <p>In addition to these top pearl jewellery trends for 2023, there are also several ways to style pearl jewellery to create a chic and modern look. Pair pearl jewellery with trendy clothing items and accessories, such as oversized blazers, bucket hats, and statement boots, for a fashion-forward look that is sure to turn heads.</p>
              <p>Pearl jewellery is a timeless classic that will always have a place in our wardrobes. In 2023, these top 6 pearl jewellery trends are set to be the most popular, incorporating modern and unique designs with this classic gemstone. Whether you prefer statement necklaces, delicate earrings, or mixed-material pieces, pearls are the perfect way to add elegance and sophistication to any outfit. Check out Cassiopeia Gems' online store for a beautiful selection of pearl jewellery and more gems of unrivalled beauty.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="article-buttons w-100">
      <a href="{{ blog.previous_article }}" class="article-button"><img src="{{ 'arrow-left.png' | asset_url }}"> Prev</a>
      <a href="{{ blog.url }}" class="article-button article-back">Back To Blog</a>
      <a href="{{ blog.next_article }}" class="article-button">Next <img src="{{ 'arrow-right.png' | asset_url }}"></a>
    </div>

    <div class="collection">
      <div class="collection__title title-wrapper title-wrapper--no-top-margin">
        <h2 class="heading-font-family font-choco title">{{ section.settings.title | escape }}</h2>
      </div>
      <div class="slick-container">
        <div class="slick-slider-best">
          {%- for block in section.blocks -%}
            <div class="product">
              <div style="background-image: url('{{ block.settings.catalogue.image | img_url: 'master' }}')" class="img"></div>
              <div class="product-detail">
                <p class="lorem-ipsum">lorem ipsum</p>
                <p class="blog-name">{{ block.settings.catalogue.title | escape }}</p>
                <a href="{{ block.settings.catalogue.url }}" class="blog-ntn button button--secondary">Read Article</a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>

    {% include 'article-comment' %}
  </div>
</article>
{% comment %} END ARTICLE 203693 {% endcomment %}

{% schema %}
  {
    "name": "Custom Article",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Shop Catalogue",
        "label": "t:sections.featured-collection.settings.title.label"
      },
        {
          "type": "image_picker",
          "id": "blog_image1",
          "label": "Blog Image Banner"
        },
        {
          "type": "image_picker",
          "id": "blog_image2",
          "label": "Blog Image 2"
        },
        {
          "type": "image_picker",
          "id": "blog_image3",
          "label": "Blog Image 3"
        },
        {
          "type": "image_picker",
          "id": "blog_image4",
          "label": "Blog Image 4"
        },
        {
          "type": "image_picker",
          "id": "blog_image5",
          "label": "Blog Image 5"
        },
        {
          "type": "image_picker",
          "id": "blog_image6",
          "label": "Blog Image 6"
        },
        {
          "type": "image_picker",
          "id": "blog_image7",
          "label": "Blog Image 7"
        },
        {
          "type": "image_picker",
          "id": "blog_image8",
          "label": "Blog Image 8"
        }
      ],
    "blocks": [
    {
      "name": "article",
      "type": "article",
      "settings": [
        {
          "type": "article",
          "id": "catalogue",
          "label": "Select collection"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "Custom Article"
      }
    ]
  }
{% endschema %}