{{ 'section-custom-article.css' | asset_url | stylesheet_tag }}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-width">
    <div class="background-image article-banner w-100 mobile" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})">
    </div> 
    <div class="article-info d-flex justify-content-between align-center w-100">
      <div class="author-info d-flex justify-content-between align-center">
        <img src="{{ article.user.image | img_url: '30x' }}">
        <p class="author-name blog-info-font">{{ article.author }}</p>
      </div>
      <div class="article-detail d-flex justify-content-between align-center">
        <p class="created_at blog-info-font">
          <img src="{{ 'Clock.svg' | asset_url }}"> {{ article.published_at | date: format: 'short' }}
        </p>
        <p class="artile-heart blog-info-font"><img src="{{ 'blog_heart.svg' | asset_url }}"> {{ article.heart }} </p>
        <p class="article-comment blog-info-font"><img src="{{ 'Comment.svg' | asset_url }}"> {{ article.comments_count }} </p>
      </div>
    </div>

    <h1 class="heading-font-family font-brown">
      {{ section.settings.article_title1 }}<br>
      {%- if section.settings.article_title2 != blank -%}
        <span class="font-choco">{{ section.settings.article_title2 }}</span>
      {%- endif -%}
    </h1>

    <div class="header-introduction">
      {%- if section.settings.intro_title != blank -%}
        <h2 class="text-font-family font-choco mb-36">{{ section.settings.intro_title}}</h2>
      {%- endif -%}
      <div class="text-font-family font-choco">
        <p>Moonstone is a captivating gemstone known for its iridescent sheen and healing properties. It belongs to the feldspar family and can be found in several regions, including Sri Lanka, India, and Madagascar. This article will delve into the physical, emotional, and metaphysical benefits of wearing moonstone, as well as which zodiac signs it complements. We'll also explore Cassiopeia Gems' moonstone jewellery collection and address frequently asked questions about moonstone.</p>
      </div>
    </div>

    {%- if section.settings.blog_banner_2 != blank -%}
      <div class="two-background-image">
        <div class="background-image bg-1" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})"></div>
        <div class="background-image bg-2" style="background-image: url({{ section.settings.blog_banner_2 | img_url: 'master' }})"></div>
      </div>
    {%- else -%}
      <div class="background-image article-banner desktop" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})"></div>
    {%- endif -%}
    
    <div class="article-grid">
      <div class="share">
        <ul>
          <li class="text-font-family font-choco">Share</li>
          <li><a href="http://www.twitter.com/share?url=discover-the-healing-powers-of-moonstone-physical-emotional-and-metaphysical"><img src="{{ 'twitter.png' | asset_url }}"></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=discover-the-healing-powers-of-moonstone-physical-emotional-and-metaphysical"><img src="{{ 'facebook.png' | asset_url }}"></a></li>
          <li><a href="https://www.instagram.com/?url=discover-the-healing-powers-of-moonstone-physical-emotional-and-metaphysical"><img src="{{ 'instagram.png' | asset_url }}"></a></li>
        </ul>
      </div>

      <div class="articles">
        <div class="row align-center mb-top">
          <div class="col-md-12">
            <h2 class="mb-24 text-font-family font-choco">
              Introduction
            </h2>
            <p class="text-font-family font-choco">Moonstone has been treasured for centuries for its beauty and mystical powers. This gemstone is famous for its unique adularescence, an optical phenomenon that creates a shimmering, moon-like glow. Moonstone is believed to promote emotional balance, enhance intuition, and encourage personal growth. Historically, it has been used by various cultures, including the Romans and Greeks, who valued its healing properties. Moonstone is also the birthstone for June and is associated with the zodiac sign of Cancer.</p>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">Physical Benefits of Wearing Moonstone</a>
            </h2>
            <p class="text-font-family font-choco">Moonstone is said to possess numerous physical benefits, such as promoting hormonal balance and supporting reproductive health. It is often used to alleviate menstrual discomfort and promote fertility. Wearing moonstone may also help improve digestion and boost the immune system, leading to overall better physical health.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image2 | img_url: 'master' }});background-position-y: -356px;" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">Emotional Benefits of Wearing Moonstone</a>
            </h2>
            <p class="text-font-family font-choco">Moonstone is a powerful gemstone for emotional healing and balance. It is believed to soothe stress, ease anxiety, and foster inner peace and tranquility. By wearing moonstone, you may experience increased emotional stability, self-discovery, and personal growth. This can lead to improved relationships, heightened self-awareness, and greater emotional wellbeing.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image3 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">Emotional Benefits of Wearing Moonstone</a>
            </h2>
            <p class="text-font-family font-choco">Moonstone is a powerful gemstone for emotional healing and balance. It is believed to soothe stress, ease anxiety, and foster inner peace and tranquility. By wearing moonstone, you may experience increased emotional stability, self-discovery, and personal growth. This can lead to improved relationships, heightened self-awareness, and greater emotional wellbeing.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image4 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">Metaphysical Benefits of Wearing Moonstone</a>
            </h2>
            <p class="text-font-family font-choco">Moonstone is renowned for its metaphysical properties, including its ability to stimulate intuition and psychic abilities. It is believed to enhance spiritual insight, promote self-discovery, and deepen one's connection to the divine. By wearing moonstone, you may experience heightened intuition, lucid dreaming, and an increased ability to tap into higher states of consciousness.</p>
          </div>
          <div class="col-md-6 d-flex">
            <div style="background-image: url({{ section.settings.blog_image5 | img_url: 'master' }})" class="background-image top6 mr-5"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">Moonstone and Zodiac Signs</a>
            </h2>
            <p class="text-font-family font-choco">Moonstone is particularly well-suited for those born under the signs of Cancer, Libra, and Scorpio. Cancer, in particular, is said to benefit greatly from wearing moonstone due to its association with emotional healing, intuition, and personal growth. Libra is another sign that may benefit from moonstone, as it is associated with harmony, balance, and diplomacy. Scorpio is also a sign that may find solace in moonstone due to its connection to transformation, rebirth, and self-discovery.</p>
          </div>
          <div class="col-md-6 d-flex">
            <div style="background-image: url({{ section.settings.blog_image6 | img_url: 'master' }})" class="background-image top6 mr-5"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">Cassiopeia Gems' Moonstone Jewelry Collection</a>
            </h2>
            <p class="text-font-family font-choco">Cassiopeia Gems offers a stunning collection of moonstone jewellery that is perfect for anyone looking to experience the benefits of this mystical gemstone. Our collection features a variety of styles, from dainty moonstone necklaces to striking moonstone statement rings. Each piece is made with high-quality moonstone gemstones that are carefully chosen for their beauty and spiritual properties. By selecting moonstone jewellery from Cassiopeia Gems, you can experience this enchanting gemstone in a unique and fashionable way.</p>
          </div>
          <div class="col-md-6 d-flex">
            <div style="background-image: url({{ section.settings.blog_image7 | img_url: 'master' }})" class="background-image top6 mr-5"></div>
          </div>
        </div>

        <h2 class="Heading Heading-faq">FAQ</h2>
        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>1/</i> What chakra is activated with Moonstone?</h3>
          <p class="text-font-family font-brown">Moonstone is associated with the third eye and crown chakras.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>2/</i>What is the Moonstone gemstone good for?</h3>
          <p class="text-font-family font-brown">Moonstone is good for promoting emotional balance, enhancing intuition, encouraging personal growth, and supporting reproductive health.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>3/</i>Where should you place Moonstone on your body?</h3>
          <p class="text-font-family font-brown">Where you should place your moonstone crystal depends on your goals. For example, if you want to foster emotional healing, you could place your moonstone crystal near your heart or wear a moonstone necklace. If you want to enhance intuition and psychic abilities, you could carry a moonstone crystal with you or wear moonstone jewellery on your wrists or as earrings.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>4/</i>Does Moonstone have any negative effects?</h3>
          <p class="text-font-family font-brown">Moonstone is generally considered safe and does not have any known negative effects. However, it is important to note that some people may experience sensitivity to the energy of certain gemstones, including moonstone.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>5/</i>What colour Moonstone is most valuable?</h3>
          <p class="text-font-family font-brown">The most valuable moonstone exhibits a strong blue sheen, known as "blue flash" moonstone. This variety of moonstone is considered the finest quality.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>6/</i>What does Moonstone protect you from?</h3>
          <p class="text-font-family font-brown">Moonstone is believed to provide protection from negative energy and promote emotional healing.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>7/</i>What does Moonstone symbolise?</h3>
          <p class="text-font-family font-brown">Moonstone is often associated with intuition, emotional healing, and personal growth.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>8/</i>Can I wear Moonstone every day?</h3>
          <p class="text-font-family font-brown">Yes, you can wear moonstone every day. However, it is slightly less durable than some other gemstones, so it is important to handle it with care to avoid damage.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>9/</i>Does Moonstone help you sleep?</h3>
          <p class="text-font-family font-brown">Yes, moonstone is believed to improve sleep quality and promote relaxation.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>10/</i>What is a good quality Moonstone?</h3>
          <p class="text-font-family font-brown">A good quality moonstone should have a strong adularescence or sheen, good clarity, and minimal inclusions.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>11/</i>How rare is Moonstone?</h3>
          <p class="text-font-family font-brown">Moonstone is relatively common, although high-quality specimens, especially those with a strong blue sheen, can be rare and valuable.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>12/</i>What is a good quality Moonstone?</h3>
          <p class="text-font-family font-brown">A good quality moonstone should have a strong adularescence or sheen, good clarity, and minimal inclusions.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>13/</i>What are the benefits of using Moonstone?</h3>
          <p class="text-font-family font-brown">The benefits of using moonstone include emotional healing, intuition enhancement, personal growth, and support for reproductive health.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>14/</i>How do you cleanse Moonstone stones?</h3>
          <p class="text-font-family font-brown">Moonstone can be cleansed by placing it in moonlight, smudging with sage or palo santo, or using other methods of energy cleansing such as sound or salt.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>15/</i>What are the geological properties of Moonstone?</h3>
          <p class="text-font-family font-brown">Moonstone is a type of feldspar that exhibits adularescence due to its unique layered structure. It can be found in many parts of the world, including Sri Lanka, India, and Madagascar.</p>
        </div>

        <div class="faq-item">
          <h3 class="text-font-family font-choco"><i>16/</i>What does Moonstone do spiritually?</h3>
          <p class="text-font-family font-brown">Moonstone is believed to enhance spiritual insight, intuition, and emotional healing. It is also said to deepen one's connection to the divine.</p>
        </div>
      </div>
    </div>

    <div class="article-buttons w-100">
      <a href="{{ blog.previous_article }}" class="article-button"><img src="{{ 'arrow-left.png' | asset_url }}"> Prev</a>
      <a href="{{ blog.url }}" class="article-button article-back">Back To Blog</a>
      <a href="{{ blog.next_article }}" class="article-button">Next <img src="{{ 'arrow-right.png' | asset_url }}"></a>
    </div>

    <div class="collection">
      <div class="collection__title title-wrapper title-wrapper--no-top-margin">
        <h2 class="heading-font-family font-choco title">{{ section.settings.title | escape }}</h2>
      </div>
      <div class="slick-container">
        <div class="slick-slider-best">
          {%- for block in section.blocks -%}
            <div class="product">
              <div style="background-image: url('{{ block.settings.catalogue.image | img_url: 'master' }}')" class="img"></div>
              <div class="product-detail">
                <p class="lorem-ipsum">lorem ipsum</p>
                <p class="blog-name">{{ block.settings.catalogue.title | escape }}</p>
                <a href="{{ block.settings.catalogue.url }}" class="blog-ntn button button--secondary">Read Article</a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>

    {% include 'article-comment' %}
  </div>
</article>
{% comment %} END ARTICLE 203693 {% endcomment %}

{% schema %}
  {
    "name": "Custom Article",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Recommended for you",
        "label": "t:sections.featured-collection.settings.title.label"
      },
      {
        "type": "text",
        "id": "article_title1",
        "label": "Blog Post title 1"
      },
      {
        "type": "text",
        "id": "article_title2",
        "label": "Blog Post title 2"
      },
      {
        "type": "text",
        "id": "intro_title",
        "label": "Intro Letters"
      },
      {
        "type": "image_picker",
        "id": "blog_image1",
        "label": "Blog Image Banner"
      },
      {
        "type": "image_picker",
        "id": "blog_image2",
        "label": "Blog Image 2"
      },
      {
        "type": "image_picker",
        "id": "blog_image3",
        "label": "Blog Image 3"
      },
      {
        "type": "image_picker",
        "id": "blog_image4",
        "label": "Blog Image 4"
      },
      {
        "type": "image_picker",
        "id": "blog_image5",
        "label": "Blog Image 5"
      },
      {
        "type": "image_picker",
        "id": "blog_image6",
        "label": "Blog Image 6"
      },
      {
        "type": "image_picker",
        "id": "blog_image7",
        "label": "Blog Image 7"
      },
      {
        "type": "image_picker",
        "id": "blog_image8",
        "label": "Blog Image 8"
      },
      {
        "type": "image_picker",
        "id": "blog_banner_2",
        "label": "Blog Banner 2"
      }
    ],
    "blocks": [
    {
      "name": "article",
      "type": "article",
      "settings": [
        {
          "type": "article",
          "id": "catalogue",
          "label": "Select collection"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "Custom Article"
      }
    ]
  }
{% endschema %}