{{ 'section-custom-article.css' | asset_url | stylesheet_tag }}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-width">
    <div class="background-image article-banner w-100 mobile" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})">
    </div> 
    <div class="article-info d-flex justify-content-between align-center w-100">
      <div class="author-info d-flex justify-content-between align-center">
        <img src="{{ article.user.image | img_url: '30x' }}">
        <p class="author-name blog-info-font">{{ article.author }}</p>
      </div>
      <div class="article-detail d-flex justify-content-between align-center">
        <p class="created_at blog-info-font">
          <img src="{{ 'Clock.svg' | asset_url }}"> {{ article.published_at | date: format: 'short' }}
        </p>
        <p class="artile-heart blog-info-font"><img src="{{ 'blog_heart.svg' | asset_url }}"> {{ article.heart }} </p>
        <p class="article-comment blog-info-font"><img src="{{ 'Comment.svg' | asset_url }}"> {{ article.comments_count }} </p>
      </div>
    </div>

    <h1 class="heading-font-family font-brown">
      {{ section.settings.article_title1 }}<br>
      {%- if section.settings.article_title2 != blank -%}
        <span class="font-choco">{{ section.settings.article_title2 }}</span>
      {%- endif -%}
    </h1>

    <div class="header-introduction">
      {%- if section.settings.intro_title != blank -%}
        <h2 class="text-font-family font-choco mb-36">{{ section.settings.intro_title}}</h2>
      {%- endif -%}
      <div class="text-font-family font-choco">
        <p>If you're looking for a calming and soothing stone to bring balance and courage into your life, look no further than larimar. This stunning blue gemstone is a rare find that originates from the Barahona region of the Caribbean. It is also known as Blue Pectolite, Dolphin Stone, Atlantic Stone, and Setfilias Stone. Larimar's beauty and rarity have made it a popular choice for jewelry and healing practices. In this article, we will explore the physical, mental, and metaphysical properties of larimar.</p>
      </div>
    </div>

    {%- if section.settings.blog_image1 -%}
      {%- if section.settings.blog_banner_2 != blank -%}
        <div class="two-background-image">
          <div class="background-image bg-1" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})"></div>
          <div class="background-image bg-2" style="background-image: url({{ section.settings.blog_banner_2 | img_url: 'master' }})"></div>
        </div>
      {%- else -%}
        <div class="background-image article-banner desktop" style="background-image: url({{ section.settings.blog_image1 | img_url: 'master' }})"></div>
      {%- endif -%}
    {%- endif -%}
    
    <div class="article-grid">
      <div class="share">
        <ul>
          <li class="text-font-family font-choco">Share</li>
          <li><a href="http://www.twitter.com/share?url=discover-the-healing-powers-of-moonstone-physical-emotional-and-metaphysical"><img src="{{ 'twitter.png' | asset_url }}"></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=discover-the-healing-powers-of-moonstone-physical-emotional-and-metaphysical"><img src="{{ 'facebook.png' | asset_url }}"></a></li>
          <li><a href="https://www.instagram.com/?url=discover-the-healing-powers-of-moonstone-physical-emotional-and-metaphysical"><img src="{{ 'instagram.png' | asset_url }}"></a></li>
        </ul>
      </div>

      <div class="articles">
        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family font-choco">1/ Layered Necklaces</h2>
            <p class="text-font-family font-choco">Layered necklaces are a great way to add some dimension and texture to your summer outfits. Mix and match different lengths and materials, such as beads, chains, and pendants, to create a unique look that's all your own.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image2 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">2/ Teardrop Earrings</a>
            </h2>
            <p class="text-font-family font-choco">Teardrop earrings are an elegant and versatile option for summer. Whether you prefer simple and dainty or bold and statement-making, teardrop earrings come in a variety of styles and materials to suit any taste.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image3 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">3/ Friendship Bracelets</a>
            </h2>
            <p class="text-font-family font-choco">Nothing says summer like a friendship bracelet. Mix and match Cassiopeia’s collection of <a href="https://cassiopeiagems.com/collections/adjustable-bangles">Adjustable Bangles</a> with different colours, crystals and styles in both silver and rose gold, to create a fun and playful look that's perfect for the beach.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image4 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">4/ Statement Rings</a>
            </h2>
            <p class="text-font-family font-choco">Make a statement with bold and chunky rings that are sure to catch the eye. Whether you prefer oversized gemstones, unique shapes, or intricate designs, <a href="https://cassiopeiagems.com/collections/classic-silver-rings">Classic Silver Rings</a> are a great way to add some personality to your summer outfits and you can shop them today at Cassiopeia Gems.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image5 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">5/ Dainty Earrings</a>
            </h2>
            <p class="text-font-family font-choco">For a more understated look, try dainty earrings in simple shapes and materials, such as hoops, studs, or threader earrings. Dainty earrings are versatile and can be worn with both casual and dressy outfits. Check out our <a href="https://cassiopeiagems.com/products/larimar-buffalo-black-horn-rhodium-silver-earrings">Larimar Oval Earrings</a> to spice up your look with our extraordinary <a href="https://cassiopeiagems.com/collections/blue-stone-collections">Blue Stone Collection</a>.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image6 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">6/ Layered Bracelets</a>
            </h2>
            <p class="text-font-family font-choco">Similar to layered necklaces, layered bracelets are a great way to add some dimension to your summer look. Mix and match different crystals with Cassiopeia’s <a href="https://cassiopeiagems.com/collections/elastic-bracelets">Elastic Bracelets</a> to create a unique and stylish look.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image7 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center mb-top">
          <div class="col-md-6">
            <h2 class="mb-24 text-font-family">
              <a href="#" class="font-choco">7/ Statement Necklaces</a>
            </h2>
            <p class="text-font-family font-choco">Make a bold statement with a statement necklace. Choose from a variety of styles and materials, such as chunky chains, <a href="https://cassiopeiagems.com/collections/shop-rings">oversized pendants</a>, and beaded strands, to create a look that's all your own.</p>
          </div>
          <div class="col-md-6">
            <div style="background-image: url({{ section.settings.blog_image8 | img_url: 'master' }})" class="background-image top6"></div>
          </div>
        </div>

        <div class="row align-center">
          <div class="col-md-12">
            <p class="text-font-family font-choco mb-18">At Cassiopeia, we offer a wide range of jewellery pieces that are perfect for summer. Our collection of 925 solid silver jewellery is inspired by nature and designed to bring you one step closer to the natural world. From layered, faceted necklaces to statement silver rings, we have something for everyone.</p>
            <p class="text-font-family font-choco mb-18">In addition to our collection, pearl jewellery is also a popular option in Dubai and the UAE. You can find pearl jewellery online in the UAE, and it's a great way to add some elegance and sophistication to your summer look. Artificial jewellery is also popular in Dubai and the UAE, and buying it online is a convenient and affordable option.</p>
            <p class="text-font-family font-choco">So what are you waiting for? Shop now for the hottest summer jewellery trends of 2023 and elevate your summer wardrobe to the next level. Browse our collection of summer jewellery essentials today and find the pieces that suit your style.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="article-buttons w-100">
      <a href="{{ blog.previous_article }}" class="article-button"><img src="{{ 'arrow-left.png' | asset_url }}"> Prev</a>
      <a href="{{ blog.url }}" class="article-button article-back">Back To Blog</a>
      <a href="{{ blog.next_article }}" class="article-button">Next <img src="{{ 'arrow-right.png' | asset_url }}"></a>
    </div>

    <div class="collection">
      <div class="collection__title title-wrapper title-wrapper--no-top-margin">
        <h2 class="heading-font-family font-choco title">{{ section.settings.title | escape }}</h2>
      </div>
      <div class="slick-container">
        <div class="slick-slider-best">
          {%- for block in section.blocks -%}
            <div class="product">
              <div style="background-image: url('{{ block.settings.catalogue.image | img_url: 'master' }}')" class="img"></div>
              <div class="product-detail">
                {% assign article_handle = block.settings.catalogue.handle | split: '/' | first %}
                <p class="lorem-ipsum">{{ blogs[article_handle].title }}</p>
                <p class="blog-name">{{ block.settings.catalogue.title | escape }}</p>
                <a href="{{ block.settings.catalogue.url }}" class="blog-ntn button button--secondary">Read Article</a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {% include 'article-comment' %}
  </div>
</article>
{% comment %} END ARTICLE 203693 {% endcomment %}

{% schema %}
  {
    "name": "Custom Article",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "article_title1",
        "label": "Blog Post title 1"
      },
      {
        "type": "text",
        "id": "article_title2",
        "label": "Blog Post title 2"
      },
      {
        "type": "text",
        "id": "intro_title",
        "label": "Intro Letters"
      },
      {
        "type": "image_picker",
        "id": "blog_image1",
        "label": "Blog Banner 1"
      },
      {
        "type": "image_picker",
        "id": "blog_banner_2",
        "label": "Blog Banner 2"
      },
      {
        "type": "image_picker",
        "id": "blog_image2",
        "label": "Blog Image 2"
      },
      {
        "type": "image_picker",
        "id": "blog_image3",
        "label": "Blog Image 3"
      },
      {
        "type": "image_picker",
        "id": "blog_image4",
        "label": "Blog Image 4"
      },
      {
        "type": "image_picker",
        "id": "blog_image5",
        "label": "Blog Image 5"
      },
      {
        "type": "image_picker",
        "id": "blog_image6",
        "label": "Blog Image 6"
      },
      {
        "type": "image_picker",
        "id": "blog_image7",
        "label": "Blog Image 7"
      },
      {
        "type": "image_picker",
        "id": "blog_image8",
        "label": "Blog Image 8"
      },
      {
        "type": "image_picker",
        "id": "blog_image9",
        "label": "Blog Image 9"
      },
      {
        "type": "image_picker",
        "id": "blog_image10",
        "label": "Blog Image 10"
      },
      {
        "type": "image_picker",
        "id": "blog_image11",
        "label": "Blog Image 11"
      },
      {
        "type": "image_picker",
        "id": "blog_image12",
        "label": "Blog Image 12"
      },
      {
        "type": "image_picker",
        "id": "blog_image13",
        "label": "Blog Image 13"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Recommended for you",
        "label": "Collection Heading"
      },
      {
        "type": "radio",
        "id": "layout_mode",
        "label": "Layout Mode",
        "default": "col",
        "options": [
          {"value": "col", "label": "Column Mode"},
          {"value": "row", "label": "Row Mode"}
        ]
      }
    ],
    "blocks": [
      {
        "name": "article",
        "type": "article",
        "settings": [
          {
            "type": "article",
            "id": "catalogue",
            "label": "Select collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Article"
      }
    ]
  }
{% endschema %}