{{ 'section-custom-article.css' | asset_url | stylesheet_tag }}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-width">
    <div class="article-info d-flex justify-content-between align-center w-100">
      <div class="author-info d-flex justify-content-between align-center">
        <img src="{{ article.user.image | img_url: '30x' }}">
        <p class="author-name blog-info-font">{{ article.author }}</p>
      </div>
      <div class="article-detail d-flex justify-content-between align-center">
        <p class="created_at blog-info-font">
          <img src="{{ 'Clock.svg' | asset_url }}"> {{ article.published_at | date: format: 'short' }}
        </p>
        <p class="artile-heart blog-info-font"><img src="{{ 'blog_heart.svg' | asset_url }}"> {{ article.heart }} </p>
        <p class="article-comment blog-info-font"><img src="{{ 'Comment.svg' | asset_url }}"> {{ article.comments_count }} </p>
      </div>
    </div>

    <h1 class="Heading">Unlocking the Healing Powers of Amethyst: <span>Physical, Emotional, and Metaphysical<span></h1>

    <div class="header-introduction">
      <h2 class="article-heading mb-36">Introduction</h2>
      <p class="article-content">Amethyst is a beautiful purple gemstone that has been used for centuries for its healing and protective properties. It is a type of quartz that can be found in many parts of the world, including Brazil, Uruguay, and Zambia. In this article, we will explore the physical, emotional, and metaphysical benefits of wearing amethyst, as well as which zodiac signs it is best suited for. We will also take a look at Cassiopeia Gems' amethyst jewellery collection and answer some frequently asked questions about amethyst.</p>
    </div>

    <div class="article-banner w-100">
      <img src="{{ 'blog1.jpg' | asset_url }}" class="w-100">
    </div>
    
    <div class="article-grid">
      <div class="share">
        <ul>
          <li>Share</li>
          <li><a href="http://www.twitter.com/share?url=https://cassiopeiagems.com/blogs/news/top-5-benefits-of-wearing-gemstones-as-jewellery"><img src="{{ 'twitter.png' | asset_url }}"></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://cassiopeiagems.com/blogs/news/top-5-benefits-of-wearing-gemstones-as-jewellery"><img src="{{ 'facebook.png' | asset_url }}"></a></li>
          <li><a href="https://www.instagram.com/?url=https://cassiopeiagems.com/blogs/news/top-5-benefits-of-wearing-gemstones-as-jewellery"><img src="{{ 'instagram.png' | asset_url }}"></a></li>
        </ul>
      </div>
      <div class="articles">
        <div class="row align-center">
          <div class="col-md-6">
            <h2 class="mb-24"><a href="#" class="article-heading">Introduction</a></h2>
            <p class="article-content">Amethyst is a popular gemstone that has been used for centuries for its healing and protective properties. It is a variety of quartz that gets its purple colour from iron and other trace elements. Amethyst is believed to enhance intuition, spiritual awareness, and emotional balance. It has a long and interesting history that dates back to ancient times when it was used by the Greeks and Romans for its healing properties. Amethyst is also the birthstone for February and is associated with the zodiac sign of Pisces.</p>
          </div>
          <div class="col-md-6">
            <img src="{{ 'blog2.png' | asset_url }}" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

{% schema %}
  {
    "name": "Custom Article",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Custom Article"
      }
    ]
  }
{% endschema %}
