<style>
  .footer-link {
    background-color: #594230;
    padding: 42px 262px 31px;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 60px;
  }
  .Footer_Link__Title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 32px;
  }
  .Linklist__Item {
    margin-bottom: 5px;
  }
  .Linklist__Item a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
  .footer-link .Linklist__Item a:hover {
    text-decoration: underline !important;
  }
  .Linklist {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .social-media p {
    margin: 89px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
  .external_site_url p {
    margin: -12px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
  .external_site_url .Linklist {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .external_site_url .Linklist li {
    margin-right: 24px;
  }

  @media (max-width: 1440px) {
    .footer-link {
      padding-left: 120px;
      padding-right: 120px;
    }
  }
  @media (max-width: 1100px) {
    .footer-grid {
      display: flex;
      flex-wrap: wrap;
    }
    .footer-grid .Collapse__Inner:first-child {
      margin-bottom: 54px;
      width: 100%
    }
    .footer-grid .Collapse__Inner:nth-child(2),
    .footer-grid .Collapse__Inner:nth-child(3)
     {
      margin-bottom: 54px;
      width: 50%
    }
    .footer-logo {
      margin-bottom: 63.5px;
    }
    .footer-grid .external_site_url {
      text-align: center;
      width: 100%;
    }
    .external_site_url .Linklist {
      justify-content: center;
    }
  }
  @media (max-width: 640px) {
    .footer-link {
      padding-left: 51px;
      padding-right: 51px;
    }
  }
</style>

<div class="footer-link gradient">
  <div class="footer-logo">
    <img src="{{ section.settings.footer_logo | img_url: 'master' }}">
  </div>
  <div class="footer-grid">
    {% for block in section.blocks %}
      {%- assign linklist = linklists[block.settings.link_item] -%}
      <div class="Collapse__Inner">
        <h2 class="Footer_Link__Title">{{ linklist.title | escape }}</h2>
        <ul class="Linklist">
          {%- for link in linklist.links -%}
            <li class="Linklist__Item">
              {% if link.title == "Initiate Return" %}
                <a href="{{ link.url }}" class="Link Link--primary" target="_blank">{{ link.title | escape }}</a>
              {% else %}
                <a href="{{shop.url}}{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
              {% endif %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {% endfor %}
    <div class="external_site_url">
        <h2 class="Footer_Link__Title">CONTACT US</h2>
        <p>contact@cassiopeia.com</p>
        <ul class="Linklist">
          <li class="Linklist__Item">
            <a href="https://www.instagram.com/cassiopeia.gems/" class="Link Link--primary">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0325 2H6.96724C4.22831 2 2 4.22841 2 6.96735V15.0327C2 17.7717 4.22831 20 6.96724 20H15.0325C17.7717 20 20 17.7716 20 15.0327V6.96735C20.0001 4.22841 17.7717 2 15.0325 2ZM18.4027 15.0328C18.4027 16.8912 16.8907 18.4031 15.0323 18.4031H6.96688C5.10855 18.4032 3.59668 16.8912 3.59668 15.0328V6.96747C3.59668 5.10915 5.10855 3.59717 6.96688 3.59717H15.0322C16.8906 3.59717 18.4026 5.10915 18.4026 6.96747V15.0328H18.4027ZM6.28613 11C6.28613 8.40048 8.40092 6.28564 11.0004 6.28564C13.5999 6.28564 15.7147 8.40048 15.7147 11C15.7147 13.5995 13.5999 15.7142 11.0004 15.7142C8.40092 15.7142 6.28613 13.5995 6.28613 11ZM11 14.0909C9.29568 14.0909 7.90898 12.7044 7.90898 11C7.90898 9.29553 9.29557 7.90891 11 7.90891C12.7044 7.90891 14.091 9.29553 14.091 11C14.091 12.7044 12.7043 14.0909 11 14.0909Z" fill="white"/>
                <mask id="mask0_135_803" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="2" y="2" width="18" height="18">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0325 2H6.96724C4.22831 2 2 4.22841 2 6.96735V15.0327C2 17.7717 4.22831 20 6.96724 20H15.0325C17.7717 20 20 17.7716 20 15.0327V6.96735C20.0001 4.22841 17.7717 2 15.0325 2ZM18.4027 15.0328C18.4027 16.8912 16.8907 18.4031 15.0323 18.4031H6.96688C5.10855 18.4032 3.59668 16.8912 3.59668 15.0328V6.96747C3.59668 5.10915 5.10855 3.59717 6.96688 3.59717H15.0322C16.8906 3.59717 18.4026 5.10915 18.4026 6.96747V15.0328H18.4027ZM6.28613 11C6.28613 8.40048 8.40092 6.28564 11.0004 6.28564C13.5999 6.28564 15.7147 8.40048 15.7147 11C15.7147 13.5995 13.5999 15.7142 11.0004 15.7142C8.40092 15.7142 6.28613 13.5995 6.28613 11ZM11 14.0909C9.29568 14.0909 7.90898 12.7044 7.90898 11C7.90898 9.29553 9.29557 7.90891 11 7.90891C12.7044 7.90891 14.091 9.29553 14.091 11C14.091 12.7044 12.7043 14.0909 11 14.0909Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_135_803)">
                <rect width="22" height="22" fill="white"/>
                </g>
              </svg>
            </a>
          </li>
          <li class="Linklist__Item">
            <a href="https://www.facebook.com/profile.php?id=100087406300691" class="Link Link--primary">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.4986 19V11.7022H14.995L15.3695 8.85725H12.4986V7.04118C12.4986 6.21776 12.7308 5.65661 13.936 5.65661L15.4706 5.65599V3.11138C15.2052 3.07756 14.2942 3 13.2339 3C11.0198 3 9.50399 4.32557 9.50399 6.75942V8.85725H7V11.7022H9.50399V19H12.4986Z" fill="white"/>
                <mask id="mask0_135_798" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="7" y="3" width="9" height="16">
                <path d="M12.4986 19V11.7022H14.995L15.3695 8.85725H12.4986V7.04118C12.4986 6.21776 12.7308 5.65661 13.936 5.65661L15.4706 5.65599V3.11138C15.2052 3.07756 14.2942 3 13.2339 3C11.0198 3 9.50399 4.32557 9.50399 6.75942V8.85725H7V11.7022H9.50399V19H12.4986Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_135_798)">
                <rect width="22" height="22" fill="white"/>
                </g>
              </svg>
            </a>
          </li>
          <li class="Linklist__Item">
            <a href="#" class="Link Link--primary">
              <img src="{{ 'pinterest.svg' | file_url }}">
            </a>
          </li>
        </ul>
      </div>
  </div>
  <div class="social-media">
    <p>2023 Cassiopeia, Inc. All rights reserved.</p>
  </div>
</div>

{% schema %}
{
  "name": "Footer Link",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    }
  ],
  "blocks": [
    {
      "name": "Link",
      "type": "links",
      "settings": [
        {
          "type": "link_list",
          "id": "link_item",
          "label": "Footer Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer Link"
    }
  ]
}
{% endschema %}
