<style>
  #shopify-section-{{ section.id }} {
    padding-top: 116px;
    background-color: #EDECE7;
  }
  #shopify-section-{{ section.id }} .collection__title h2.title {
    font-family: 'Faberge';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #281D15;
    margin-bottom: 48px;
  }
  .blog-container {
    margin: 0 -17.75px;
  }
/* clearfix */
.blog-container:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.blog {
  width: 48%;
  float: left;
  padding: 0 17.75px;
}

.blog .img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item--width-3 { width: 48%; }

.grid-item--width-2,.grid-item--width-4 {
  width: 52%; }
.grid-item--width-1 .img, .grid-item--width-3 .img {
  height: 922px;
}
.grid-item--width-1,
.grid-item--width-2 {
  margin-bottom: 169px;
}
.grid-item--width-2 .img,.grid-item--width-4 .img {
  height: 496px;
}
.grid-item--width-0 {
  width: 4%;
  height: 2px;
}
.grid-item--width-4 {
  margin-top: -688px;
}
.grid-item--offer {
  order: -1;
}
.blog-detail {
  text-align: center;
}
.lorem-ipsum {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 180%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #281D15;
  margin: 32px 0 24px;
}
  .blog-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #281D15;
    margin-top: 0;
    margin-bottom: 32px;
  }
  #shopify-section-{{ section.id}} .button {
    border: 1px solid #281D15;
  }
  #shopify-section-{{ section.id}} .button:hover {
    border: 1px solid #281D15;
    background-color: #281D15;
    color: #edece7;
  }
  .read-our-blog .label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #281D15;
    margin: 0;
  }
  .read-our-blog .page-width {
    padding-bottom: 136px;
    border-bottom: 1px solid #B8B2A6;
  }
  .rob_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 66px;
  }
  .rob_title h2.title {
    font-family: 'Faberge';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #281D15;
    margin: 0;
  }
  .see-all-articles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-decoration-line: underline !important;
    text-transform: uppercase;
    color: #281D15;
  }
  .see-all-articles:hover {
    opacity: 0.7;
  }
</style>

<div class="read-our-blog">
  <div class="page-width">
    <p class="label">Blog</p>
    <div class="rob_title">
      <h2 class="title">{{ section.settings.title | escape }}</h2>
      <a href="{{ section.settings.collection.url }}" class="see-all-articles">{{ section.settings.button_name }}</a>
    </div>
    <div class="blog-container">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          {% if forloop.index == 3 %}
            <div class="blog grid-item--width-0"></div>
          {% endif %}

          <div class="blog grid-item--width-{{ forloop.index }}">
            <div class="img" style="background-image: url('{{ block.settings.article.image | img_url: 'master' }}')"></div>
            <div class="blog-detail">
              <p class="lorem-ipsum">Lorem Ipsum</p>
              <p class="blog-name">{{ block.settings.article.title }}</p>
              <a href="{{ block.settings.article.url }}" class="blog-ntn button button--secondary">{{ section.settings.btn_name }}</a>
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Read Our Blog",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Read Our Blog",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_name",
      "default": "See All Articles",
      "label": "Button Name"
    },
    {
      "type": "text",
      "id": "btn_name",
      "default": "READ ARTICLE",
      "label": "Read more Button"
    }
  ],
  "blocks": [
    {
      "name": "article",
      "type": "article",
      "limit": 4,
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article Aelect"
        },
        {
          "type": "checkbox",
          "id": "sort_mode",
          "label": "Landscape Mode"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Read Our Blog"
    }
  ]
}
{% endschema %}


        {% comment %} {
          "type": "text",
          "id": "blog_title",
          "label": "Blog Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "btn_name",
          "label": "Button Name"
        } {% endcomment %}