<style>
  #shopify-section-{{ section.id }} {
    padding-top: 116px;
    background-color: #EDECE7;
  }
  #shopify-section-{{ section.id }} .collection__title h2.title {
    font-family: 'Faberge';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #281D15;
    margin-bottom: 48px;
  }
  #shopify-section-{{ section.id}} .button {
    border: 1px solid #281D15;
  }
  #shopify-section-{{ section.id}} .button:hover {
    border: 1px solid #281D15;
    background-color: #281D15;
    color: #edece7;
  }
</style>
{{ 'section-read-our-blog.css' | asset_url | stylesheet_tag }}
<div class="read-our-blog">
  <div class="page-width">
    <p class="label">Blog</p>
    <div class="rob_title">
      <h2 class="title">{{ section.settings.title | escape }}</h2>
      <a href="{{ section.settings.collection.url }}" class="see-all-articles desk-show">{{ section.settings.button_name }}</a>
    </div>
    <div class="blog-container">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          {% if forloop.index == 3 %}
            <div class="blog grid-item--width-0"></div>
          {% endif %}

          <div class="blog grid-item--width-{{ forloop.index }}">
            <div class="img" style="background-image: url('{{ block.settings.article.image | img_url: 'master' }}')"></div>
            <div class="blog-detail">
              <p class="lorem-ipsum">Lorem Ipsum</p>
              <p class="blog-name">{{ block.settings.article.title }}</p>
              <a href="{{ block.settings.article.url }}" class="blog-ntn button button--secondary">{{ section.settings.btn_name }}</a>
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
    <a href="{{ section.settings.collection.url }}" class="see-all-articles mobile-show">{{ section.settings.button_name }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Read Our Blog",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Read Our Blog",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_name",
      "default": "See All Articles",
      "label": "Button Name"
    },
    {
      "type": "text",
      "id": "btn_name",
      "default": "READ ARTICLE",
      "label": "Read more Button"
    }
  ],
  "blocks": [
    {
      "name": "article",
      "type": "article",
      "limit": 4,
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article Aelect"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Read Our Blog"
    }
  ]
}
{% endschema %}